<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1"
  />
  <link rel="stylesheet" href="/summernote/summernote-lite.min.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="/css/icons.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <title>Admin</title>
</head>
