<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>

    <%- include('include/links', {fileCss: "faq"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: "faq", page: "FAQ",
    navPageMore: false}) %>

    <main id="faq" class="main main-faq"><%- include("include/_faq") %></main>

    <%- include("include/footer") %>

    <script type="module" src="/js/faqQuestions.js"></script>
  </body>
</html>
