<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of service</title>

    <%- include('include/links', {fileCss: "terms-of-service"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: "shippers", page: `Terms of
    service`, navPageMore: false}) %>

    <main id="termsOfService" class="main main-termsOfService">
      <section class="terms section">
        <div class="container">
          <div class="title">Terms of service</div>
          <div class="terms-text">
            <p>
              <strong>LOGITY DISPATCH</strong> with registered address: 3524
              SILVERSIDE RD STE 35B WILMINGTON, DE 19810-4929 (&nbsp;
              hereinafter &#8211;
              <strong
                >“Logity”, “Provider” “Service”, “Website”, “Us”, “We”</strong
              >, and <strong>“Our</strong>”) within this Privacy Policy reflects
              Our understanding and respect the importance of Your personal
              information provided to Us, represent Our transparent about the
              technology We use through our Website:
              <a href="#a">https://logitydispatch.com/</a>.
            </p>
            <br />
            <p>
              This Privacy Policy (the <strong>“Privacy Policy”</strong>)
              governs how We use, collect, and disclose the information gathered
              from or provided by users of this Website located in the United
              States or for those Websites to which this Privacy Policy is
              linked and identified as such website’s privacy policy and which
              are operated by LOGITY DISPATCH and its affiliates on its own
              behalf or on behalf of its Affiliates.
            </p>
            <br />
            <p>
              The Provider may offer you Products and Services delivered to you
              with or without the use of the Website.&nbsp;
            </p>
            <br />
            <p>
              This document will apply equally and interchangeably to such
              Websites, Products, and Services, and such Websites, Products, and
              Services will append to the definition of
              <strong>“the Service”</strong> or <strong>“the Services.”</strong>
            </p>
            <br />
            <p>
              This Privacy Policy should be read and interpreted in conjunction
              with the Terms of Service, which is incorporated herein by
              reference. Capitalized terms used and not otherwise defined in
              this Privacy Policy shall have the meaning given to them in the
              Terms of Service.&nbsp;
            </p>
            <br />
            <p>
              The Services are intended for use only by users located in the
              United States, Canada, and Mexico. If you are located outside such
              jurisdictions you are consenting to the transfer and/or
              transmission of your information into the United States or to the
              location of the Provider’s information storage facilities which
              may exist outside of the United States, and to the collection, use
              and disclosure of your information in accordance with this Privacy
              Policy. You are also acknowledging that the laws of the
              jurisdiction in which the information is kept will determine the
              protections afforded to your personal information and that such
              protections may not be as strict as your home jurisdiction. The
              Provider stores and processes the personal information it gathers
              through your use of the Services in the United States or in the
              location of the Provider’s information storage facilities which
              may exist outside of the United States.&nbsp;
            </p>
            <br />
            <p>
              If you are located within the European Union and you submit any
              information deemed Personal Data under the General Data Protection
              Regulation (“GDPR”) your submission is voluntary, with your
              express consent to use Personal Information for the purpose
              submitted, at your own risk, and subject to the laws of the United
              States.&nbsp;
            </p>
            <br />
            <p>
              If you are located in Canada, then the terms of this Privacy
              Policy, as amended and supplemented by the Canadian Privacy Policy
              Statement contained herein govern your use of this Services. If
              you are located in Mexico, then the terms of the Privacy Policy,
              as amended and supplemented by the Mexico Privacy Notice contained
              herein govern your use of the Services.
            </p>
            <br />
            <ol>
              <li>GENERAL INFORMATION</li>
            </ol>
            <br />
            <p>This Privacy Policy applies to the:</p>
            <br />
            <ul>
              <li>
                people who visit our Website (for this Policy, We define the
                term <strong>“User</strong>”,
                <strong>“you”, &#8220;your&#8221;, &#8220;yours</strong>&#8221;
                as any person who visits our Website and has or intends to have
                access to Logity Services, particularly in providing goods and
                services to businesses in need of shipping and logistics
                services including facilitating communications and information
                sharing among the Provider, its Affiliates, brokers, independent
                sales agents (“Agents”), independent truck drivers, and
                independent carriers (“Carriers”).&nbsp;
              </li>
              <li>
                people who connect with Us by email, text, and other electronic
                messages between you and this Website.
              </li>
              <li>
                If applicable, through mobile and desktop applications you
                download from this Website, which provides dedicated
                non-browser-based interaction between you and this Website.
              </li>
              <li>
                If applicable, through mobile and desktop links provided by the
                Provider to this Website.
              </li>
              <li>
                When you interact with our advertising and applications on
                third-party websites and services if those applications or
                advertising include links to this policy.
              </li>
            </ul>
            <br />
            <p>
              Additionally, the Privacy Policy applies to the following
              information collected by:
            </p>
            <br />
            <ul>
              <li>
                The Provider offline or through any other means, including on
                any other website operated by the Provider or any third party
                including our Affiliates; or
              </li>
              <li>
                Any third party including our Affiliates, including through any
                application or content (including advertising) that may link to
                or be accessible from or on the Services.&nbsp;
              </li>
            </ul>
            <br />
            <p>
              <strong
                >We do not sell your Personal Information to third
                parties.</strong
              >
              A “sale” of Personal Information under the
              <a href="#a">CCPA</a> is defined broadly to include the
              <strong
                >“selling, renting, releasing, disclosing, disseminating, making
                available, transferring, or otherwise communicating orally, in
                writing, or by electronic or other means”</strong
              >
              the Personal information of a User to another business or third
              party “for monetary or other valuable consideration”. If We decide
              to transfer the rights to the Website, We will inform you about
              this, so you can forbid Us to transfer your Personal Information
              together with our business. If so, We will delete your information
              from the databases prior to a business transfer.
            </p>
            <br />
            <ol>
              <li>CONSENT</li>
            </ol>
            <br />
            <p>
              Please read this Privacy Policy carefully to understand our
              policies and practices regarding your information and how we will
              treat it and other legal obligations it creates. If you do not
              agree with our policies and procedures, your choice is not to use
              our Services, including choosing not to provide your information
              to us.&nbsp;
            </p>
            <br />
            <p>
              By continuing to use the Services, you are acknowledging that you
              have read and understood this Privacy Policy, you are agreeing to
              be legally bound by it, and you are consenting to the use,
              collection, and disclosure of your information as provided in this
              Privacy Policy. If you do not agree with all of the terms of this
              Privacy Policy, you should not use the Services and stop visiting
              our Website.
            </p>
            <br />
            <p>
              This Privacy Policy may change from time to time. Your continued
              use of the Services after we make changes is deemed acceptance of
              those changes, so please check the policy periodically for updates
              so that You always will know what information we collect, how we
              use it, and with whom we share it.
            </p>
            <br />
            <p>
              By the expression of consent of this Privacy Policy, you approve
              to have reached the age of majority or the legal age in your
              jurisdiction (generally 18 or older), are solely responsible for
              all your actions, and fully understand the statements outlined in
              this Privacy Policy.
            </p>
            <br />
            <ol>
              <li>SCOPE OF POLICY</li>
            </ol>
            <br />
            <p>
              This Privacy Policy applies to the Website and Services, and it
              does not apply to other websites, including other websites
              operated by the Provider, its Affiliates or service providers, or
              websites that may be operated by others each of which are operated
              and managed by a separate company under separate terms and
              conditions and under a separate privacy policy, except as
              otherwise specified on those websites. When visiting other
              third-party websites, even via links provided through the
              Services, please review the applicable Privacy Policies to be sure
              their terms are acceptable to you.
            </p>
            <br />
            <ol>
              <li>THE INFORMATION WE COLLECT</li>
            </ol>
            <br />
            <p>
              To fulfill our obligations to you according to applicable Terms of
              Use, We are entitled to ask you to provide Us with your Personal
              Data, including (but not limited)
            </p>
            <br />
            <ul>
              <li>
                information by which an individual may be identified (“personal
                information”) such as their first and last name, email address,
                address, and telephone number.&nbsp;
              </li>
              <li>business information from users, and&nbsp;</li>
              <li>
                information by which users cannot be individually identified,
                such as information about a user’s computer, Internet
                connection, and Services usage.
              </li>
            </ul>
            <br />
            <p>
              We collect this information when you directly provide it to us in
              a variety of ways and circumstances, including, but not limited
              to, such as if you request information through the Services,
              register with the Services, sign up for a service, provide us with
              Suggestions, share User Shared Content with the Services, or if
              you send us information via email. We use commercially reasonable
              means to identify when information is being collected and the
              purpose for which it is being collected.
            </p>
            <br />
            <p>
              When appropriate we may ask you for your affirmative consent to
              provide us with personal information. However, we do not guarantee
              that affirmative consent will be requested from each user of the
              Services.
              <strong
                >IF YOU DO NOT WANT US TO COLLECT PERSONAL INFORMATION FROM YOU,
                DO NOT PROVIDE IT TO US.&nbsp;</strong
              >
            </p>
            <br />
            <p>
              We also collect information automatically as users navigate
              through and utilize the Services, including about a user’s
              equipment, browsing, and usage actions and patterns of the
              Services including as follows:
            </p>
            <br />
            <ul>
              <li>
                general statistical and tracking information, such as the date
                and time the Services are accessed, the features of the Service
                viewed or utilized, and the time spent using the Services.&nbsp;
              </li>
              <li>
                information about a user’s computer and its systems and in our
                server logs from a user’s browser, including an IP address (the
                Internet address of a computer), identification of the computer
                and its systems, the type and version of the web browser,
                referrer addresses and other server log information.&nbsp;
              </li>
              <li>
                <strong
                  >information collected by cookies and other similar
                  technologies </strong
                >to recognize when users return to the Services.&nbsp;
              </li>
            </ul>
            <br />
            <p>
              A cookie is a small amount of data, which often includes an
              anonymous unique identifier, which is sent to a user’s browser
              from a website’s computer and stored on a user’s computer’s hard
              drive.&nbsp;
            </p>
            <br />
            <p>
              Cookies are useful because they allow our systems to recognize
              your internet browser or device and help our Services function
              effectively.
            </p>
            <br />
            <p>
              Cookies perform many different functions, such as letting you
              navigate between pages efficiently, remembering your preferences,
              and generally improving your experience. With respect to most
              computer systems, you may set your browser so that it does not
              accept cookies. If you do disable the use of cookies, you may not
              be able to use or experience all of the features of our Services.
              Cookies used by this Service do not collect Personal Information
              (as defined under the GDPR), but if you have any concerns
              whatsoever over our use of Cookies, DO NOT USE THE SERVICES, or be
              sure to set your browser so that it does not accept cookies.&nbsp;
            </p>
            <br />
            <p>
              IF YOU DO NOT WANT US TO COLLECT INFORMATION FROM YOUR COMPUTER OR
              MOBILE DEVICE DO NOT USE THE SERVICES.&nbsp;
            </p>
            <br />
            <p>
              We also may, but are not obligated to, monitor your use of the
              Services.
            </p>
            <br />
            <ol>
              <li>USE AND DISCLOSURE INFORMATION</li>
            </ol>
            <br />
            <p>
              This Website is for use within the United States, Canada, and
              Mexico. If you are accessing the Services from the European Union,
              the Service is not intended for your use. We may use the
              information that we collect about you or that you provide to us as
              set forth above, including your personal information, as
              follows:&nbsp;
            </p>
            <br />
            <ul>
              <li>
                For the Provider and/or its Affiliates’ business purpose;&nbsp;
              </li>
              <li>
                To provide you with the information, products and services that
                you request from us;&nbsp;
              </li>
              <li>
                To fulfill any other purpose for which you provide the
                information to us;&nbsp;
              </li>
              <li>
                To notify you about changes in the Services, its governing
                documents, or any products or services we offer through the
                Services;&nbsp;
              </li>
              <li>
                To allow you to participate in interactive sections of the
                Services;&nbsp;
              </li>
              <li>
                To inform you about our and/or our Affiliates’ programs, goods
                and services and/or those of third parties in which we determine
                you may be interested;&nbsp;
              </li>
              <li>
                To communicate with you about your use of the Services and
                regarding the Provider and its Affiliates’ business;&nbsp;
              </li>
              <li>
                For any other legitimate purpose to which you consent;&nbsp;
              </li>
              <li>
                In any other way we may describe when you provide the
                information;&nbsp;
              </li>
              <li>To aggregate user information.</li>
            </ul>
            <br />
            <p>
              To present our Services and its contents to you We may also use
              and disclose to others the information we gather from you,
              including your personal information, as follows:&nbsp;
            </p>
            <br />
            <ul>
              <li>
                To fulfill the purpose for which you provide the information,
                for any other purpose disclosed when you provide the
                information, and for any purpose to which you consent.&nbsp;
              </li>
              <li>
                We may disclose your information to Affiliates of the Provider
                and allow them to use and disclose your information for any the
                Provider and/or its Affiliates’ business purpose.
              </li>
              <li>
                We may employ other companies, services providers and our own
                Affiliates to perform functions on the Provider’s behalf, such
                as maintaining the Services, providing services related to the
                Services, collecting information, responding to and sending
                electronic mail, fulfilling orders for products, services or
                information, or other functions necessary to our business, and
                we may disclose your information to these companies so that they
                can perform their functions for us.&nbsp;
              </li>
              <li>
                We may use and disclose your information as we view necessary or
                prudent to protect our and our Affiliates’ safety, rights,
                and/or property and that of others and other users, to enforce
                and/or to report abuse or violation of the Services’s governing
                documents, and in connection with our obligations under the U.S.
                Digital Millennium Copyright Act (“DMCA”).&nbsp;
              </li>
              <li>
                We may use and disclose your information to carry out our
                obligations and enforce our rights arising from any contracts
                entered into between you and us and/or our Affiliates.
              </li>
              <li>
                We may use and disclose your information to the extent we
                believe we are required to do so by law, including to comply
                with any court order, law or legal process, and to respond to
                any government or regulatory request.
              </li>
              <li>
                We may transfer and disclose your information in connection with
                a merger, divestiture, restructuring, reorganization,
                dissolution, or other sale or transfer of some or all of the
                assets of the Provider and/or one of its Affiliates, whether as
                a going concern or as part of bankruptcy, liquidation, or
                similar proceeding, in which the information held by the
                Provider and/or the Affiliate is among the assets transferred.
              </li>
              <li>
                To enforce or apply our Terms of Service and other agreements,
                including for billing and collection purposes.&nbsp;
              </li>
              <li>
                If we believe disclosure is necessary or appropriate to protect
                the rights, property, or safety of the Provider, Agents, BCOs,
                intended third party motor carriers, our customers, or others.
                This includes exchanging information with other companies and
                organizations for the purposes of fraud protection and credit
                risk reduction.
              </li>
            </ul>
            <br />
            <ol>
              <li>STORING AND DELETION INFORMATION</li>
            </ol>
            <br />
            <p>
              We store your information for as long as needed to provide you
              with our Service unless a longer retention period is required or
              permitted by applicable legislation. Storing might be different
              depending on the territory of collecting the information and the
              applicable legislation, but We always strive to store the
              information only as long as it is needed to provide, improve, or
              personalize our Service. We will dispose of your information when
              it is no longer useful for the purposes for which it was provided
              to us by you.
            </p>
            <br />
            <p>
              <strong>EU Territory. </strong>We store information as long as it
              is needed for the provision of our Service. Traffic information is
              erased or made anonymous when it is no longer needed for the
              transmission or, in the case of payable Service, up to the end of
              the period during which the bill may lawfully be challenged or
              payment pursued. Direct marketing and provision of value-added
              Service information (including traffic information used for these
              purposes) are stored as long as the same is necessary for the
              provision of these activities, or up to the time when a User opts
              out from such use under this Privacy Policy. Other information is
              stored for as long as we consider it to be necessary for the
              provision of our Service. This Section shall not prevent any
              technical storage or access to information for the sole purpose of
              carrying out the transmission of a communication or as strictly
              necessary for us to provide the Service you requested. As
              explained in the GDPR statement, We strive to anonymize the
              information when possible. If you decide to exercise your right to
              erasure, We will also inform our providers to delete all your
              information.
            </p>
            <br />
            <p>
              Except as provided in this Privacy Policy, we will not disclose
              your information to unaffiliated third parties without your
              express consent.&nbsp;
            </p>
            <br />
            <p>
              We may compile statistically and aggregated information about
              users of the Services and their use of the Services, and we may
              use, disclose and transfer this information, as well as any
              information that does not identify an individual, and any
              Suggestions you provide, for any purpose without restriction.
            </p>
            <br />
            <ol>
              <li>SECURITY</li>
            </ol>
            <br />
            <p>
              We have put in place security systems designed to prevent
              unauthorized disclosure of the information you provide to us.
              These systems are structured to deter and prevent hackers and
              others from accessing this information. Due to the nature of
              Internet communications and evolving technologies, we cannot
              provide a 100% secure method of transmission over the Internet or
              a method of electronic storage. Therefore, We cannot guarantee its
              absolute security, and we hereby disclaim, assurance that the
              information you provide us will remain free from loss, misuse, or
              alteration by third parties who, despite our efforts, obtain
              unauthorized access.&nbsp;
            </p>
            <br />
            <p>
              With respect to some services we provide customers, we may
              expressly agree at the time such services are requested to provide
              different, specific, and higher levels of security and data
              segregation. In addition, in particular, circumstances, when you
              submit certain information to us through the Services, we may
              agree in connection with such information to provide additional
              protections to, and restrictions upon our use of, your personal
              information. For example, if you apply to qualify to join our
              network in a different capacity, the application materials may
              make additional commitments to you as set forth in such
              materials.<br /><br />Although we do our best to protect your
              information, we cannot guarantee the security of your information
              exchanged through the Services. Any transmission of information,
              including but not limited to personal information provided by you,
              is at your own risk. We are not responsible for the circumvention
              of any privacy settings or security measures associated with the
              Services.
            </p>
            <br />
            <ol>
              <li><strong>CONTRACTORS</strong></li>
            </ol>
            <br />
            <p>
              The terms of this Privacy Policy do not affect or amend the terms
              of any specific contracts you have entered or may enter into with
              the Provider or its Affiliates, and your and the Provider’s (or
              its Affiliates’) respective obligations thereunder, except as
              otherwise expressly set forth in such contract.
            </p>
            <br />
            <ol>
              <li>CHILDREN</li>
            </ol>
            <br />
            <p>
              We do not intentionally collect or maintain information from
              persons under the age of 13, however, according to each country
              and its laws, the processing of the personal information of a
              child will be lawful where the child is at another age.
            </p>
            <br />
            <p>
              If we determine upon collection that a user is under this age, we
              will not use or maintain his/her Personal Information without the
              parent/guardian’s consent. If we become aware that we have
              unknowingly collected personally identifiable information from a
              child under the age of 13, we will make reasonable efforts to
              delete such information from our records.&nbsp;
            </p>
            <br />
            <p>
              We also recommend that parents monitor their children’s Internet
              activities and learn and employ software or other tools that can
              help their children enjoy their online experience without
              compromising their personal safety or allowing them to use the
              Internet in a manner inconsistent with their parent/guardian’s
              preferences.
            </p>
            <br />
            <ol>
              <li>UPDATING CONTACT AND PERSONAL INFORMATION&nbsp;</li>
            </ol>
            <br />
            <p>
              By agreeing to this Privacy Policy, you are agreeing to keep your
              contact information or other personal information we maintain up
              to date. If your contact information or other personal information
              that you have provided to us through the Services needs to be
              updated, please promptly contact us at info@logitydispatch.com and
              provide sufficient information so that we can properly update your
              information.
            </p>
            <br />
            <ol>
              <li>CHANGES AND MODIFICATIONS</li>
            </ol>
            <br />
            <p>
              From time to time, the Provider may change its Privacy Policy.
              Your use of the Services following any such change constitutes
              your agreement to follow and be bound by the Privacy Policy, as
              changed, and to its application to all information gathered before
              and after its effective date.&nbsp;
            </p>
            <br />
            <p>
              The date the Privacy Policy was last revised is identified at the
              bottom of the page. We encourage You to periodically check back
              and review this Privacy Policy so that You always will know what
              information we collect, how we use it, and with whom we share it.
            </p>
            <br />
            <ol>
              <li>GENERAL DATA PROTECTION REGULATION</li>
            </ol>
            <br />
            <p>
              If you are located in the European Economic Area (EEA) privacy
              rights are granted and all processing of Personal Data is
              performed by regulations and rules following the
              <a href="#a"
                >Regulation (EU) 2016/679 of the European Parliament and of the
                Council of 27 April 2016 on the protection of natural persons
                concerning the processing of Personal Data and on the free
                movement of such data, known as the General Data Protection
                Regulation </a
              >(“GDPR”).
            </p>
            <br />
            <p>
              If you are a resident of the European Union, you may have
              additional rights pursuant to your local law applicable to the
              collection and processing of personal information. If you believe
              that the Provider or an Affiliate is collecting personal
              information under the EU General Data Protection Regulation
              (“GDPR”), and your personal information is processed based on
              legitimate interests pursuant to the GDPR, you have the right
              Under Chapter 3 of the General Data Protection Regulation (GDPR),
              specifically to object to the processing on grounds relating to
              your specific situation,to request to have your personal
              information deleted or restricted and ask for portability of your
              personal information.&nbsp;
            </p>
            <br />
            <p>
              You can request to access, update or correct your personal
              information. You also have the right to object to direct
              marketing.&nbsp;
            </p>
            <br />
            <p>
              In the event you consider our processing or control of your
              personal information subject to the GDPR and not compliant with an
              applicable data protection law, you can lodge a complaint: Contact
              us via email at info@logitydispatch.com or&nbsp;
            </p>
            <br />
            <p>
              Filing a complaint directly with the competent data protection
              authority. The name and contact details of the Data Protection
              Authorities in the European Union can be found here:
              https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm
            </p>
            <br />
            <ol>
              <li>CONTACT US</li>
            </ol>
            <br />
            <p>
              Questions, comments, or requests related to your use of the
              Services, regarding this Privacy Policy, and the Provider’s
              information handling policies and procedures should be submitted
              to the Provider’s Corporate Communications department by mail or
              e-mail as follows:<br />By mail: Supply Chain Mgmt Inc.3524
              SILVERSIDE RD STE 35BWILMINGTON, DE, 19810-4929<br />By e-mail:
              info@logitydispatch.com<br />To register a complaint or concern,
              please contact: info@logitydispatch.com
            </p>
            <br />
            <h2>CANADA PRIVACY STATEMENT</h2>
            <br />
            <p>(This Policy Statement was last updated October 2022)&nbsp;</p>
            <br />
            <p>
              If you are Canadian, this privacy statement may apply to you. The
              Provider recognizes the importance of protecting personal
              information in a manner consistent with the laws of the countries
              in which it does business. This Policy Statement (the “Statement”)
              sets forth the particular privacy principles that the Provider
              follows with respect to the personal information that it collects
              from Canadians. This Statement operates in conjunction with the
              Provider’s Privacy Policy. To the extent that this Statement and
              the Provider’s Privacy Policy are inconsistent, this Statement
              will govern the collection, use, and disclosure of personal
              information collected from Canadians.
            </p>
            <br />
            <ol>
              <li>SCOPE</li>
            </ol>
            <br />
            <p>
              This Statement applies to all personal information received by the
              Provider from Canada, in any format, including electronic, paper
              or verbal.
            </p>
            <br />
            <ol>
              <li>DEFINITIONS</li>
            </ol>
            <br />
            <p>
              For purposes of this Statement only, the following definitions
              shall apply:“Agent” means any party that collects or uses personal
              information under the instructions of, and solely for, the
              Provider, or as to which the Provider discloses personal
              information for use on the Provider’s behalf.“the Provider” means
              the Provider as previously defined.“Personal information” means
              any personally identifiable information. Personal information does
              not include information that is anonymized.
            </p>
            <br />
            <ol>
              <li>PRIVACY PRINCIPLES CONSENT, COLLECTION AND USE</li>
            </ol>
            <br />
            <p>
              The Provider identifies the purposes for collecting personal
              information at or before the time it is collected and informs
              individuals of the choice and means, if any, the Provider offers
              individuals for limiting the collection, use or disclosure of
              their personal information. The Provider will provide individuals
              with reasonable mechanisms to exercise these choices. The Provider
              will not collect, use or disclose your personal information
              without your informed consent, unless required or permitted to do
              so by law, or unless otherwise noted in this Statement. The
              Provider will only use and/or disclose personal information in
              accordance with the purpose for which it was collected, unless
              subsequently consented to, or when required or permitted by law.If
              the Provider receives personal information from its subsidiaries,
              affiliates, or other entities in Canada, it will use and disclose
              such information in accordance with the consent received by such
              entities at the time of collection and the choices made by the
              individuals to whom the such personal information relates.
            </p>
            <br />
            <ol>
              <li>ONWARD TRANSFERS</li>
            </ol>
            <br />
            <p>
              The Provider will obtain assurances from its Agents and any third
              party to whom the Provider discloses personal information that
              such Agent and/or third party will safeguard personal information
              consistently with this Statement. The Provider will enter into a
              contract with such Agent and/or third party prior to affecting a
              transfer of personal information, which contract will provide at
              least the same level of protection as is required by this
              Statement and by applicable privacy legislation. Where the
              Provider has knowledge that an Agent and/or third party is using
              or disclosing personal information in a manner contrary to this
              Statement, the Provider will take reasonable steps to prevent or
              stop the use or disclosure of the personal information and/or to
              obtain the Agent’s and/or third party’s deletion, destruction,
              anonymization or return of the personal information.
            </p>
            <br />
            <ol>
              <li>SECURITY</li>
            </ol>
            <br />
            <p>
              The Provider will take reasonable precautions to protect personal
              information in its possession from loss, misuse, and unauthorized
              access, use, disclosure, alteration, and destruction.
            </p>
            <br />
            <ol>
              <li>DATA INTEGRITY</li>
            </ol>
            <br />
            <p>
              The Provider will use personal information only in ways that are
              compatible with the purposes for which it was collected or
              subsequently authorized by the individual. The Provider will take
              reasonable steps to ensure that personal information is relevant
              to its intended use, accurate, complete, and current. Except as
              otherwise permitted or required by law, personal information is
              retained for so long as is reasonably necessary to fulfil the
              purposes for which it was collected, at which point it is deleted,
              destroyed, returned or otherwise anonymized.
            </p>
            <br />
            <ol>
              <li>ACCESS&nbsp;</li>
            </ol>
            <br />
            <p>
              Upon request, the Provider will grant individuals reasonable
              access to personal information that it holds about them. In
              addition, the Provider will take reasonable steps to permit
              individuals to correct, amend, or delete information that is
              demonstrated to be inaccurate or incomplete. These requests can be
              made by contacting the Provider as provided below.
            </p>
            <br />
            <ol>
              <li>ENFORCEMENT</li>
            </ol>
            <br />
            <p>
              the Provider will conduct compliance audits of its relevant
              privacy practices to verify adherence to this Statement. The
              Provider will use contractual or other means to ensure that its
              Agents provide a comparable level of protection over your personal
              information while the information is being processed by such
              parties. Only employees whose duties require access to personal
              information are granted such access, and only to the extent
              necessary. Employees are accountable for ensuring this Statement
              is followed at all times. Any employee that the Provider
              determines intentionally violates this Statement will be subject
              to disciplinary action up to and including termination of
              employment.
            </p>
            <br />
            <ol>
              <li>RELATIONSHIP TO OTHER CONTRACTS</li>
            </ol>
            <br />
            <p>
              The terms of this Privacy Statement do not affect or amend the
              terms of any specific contract(s) you have entered or may enter
              into with the Provider or its Affiliates, and your and the
              Provider’s (or its Affiliates’) respective obligations thereunder,
              except as otherwise expressly set forth in such contract(s).
            </p>
            <br />
            <ol>
              <li>GOVERNING LAW AND DISPUTE RESOLUTION</li>
            </ol>
            <br />
            <p>
              This Statement, and the handling of personal information under
              this Statement, is governed solely by the laws of the Province of
              Ontario, Canada and the federal laws of Canada applicable therein,
              to the exclusion of any rules of private international law or
              conflict of laws which would lead to the application of any other
              laws .the Provider is based in the state of Texas in the United
              States. As a result, personal information may be processed, used,
              stored or accessed in the United States and may be subject to laws
              of that jurisdiction. For example, information may be disclosed in
              response to valid demands or requests from government authorities,
              courts, or law enforcement in these countries. In particular,
              information that is processed, used, stored or accessed in the
              United States may be subject to the Patriot Act and applicable
              anti-terrorism legislation, together with other legislation
              applicable within the United States. Any questions or concerns
              regarding the use or disclosure of personal information should be
              directed to the Provider at the address given below. The Provider
              will investigate and attempt to resolve complaints and disputes
              regarding the collection, use and disclosure of personal
              information in accordance with the principles contained in this
              Statement. Any claim or cause of action you may have arising from,
              connected with, or relating to this Statement or to the Provider’s
              handling of your personal information, or any related matters must
              be commenced within six (6) months after the claim or cause of
              action arises, after which time the claim or cause of action is
              forever barred, regardless of any statute or law to the contrary.
            </p>
            <br />
            <ol>
              <li>CONTACT INFORMATION</li>
            </ol>
            <br />
            <p>
              Questions, comments, or requests related to your use of the
              Services, regarding this Statement, and the Provider’s information
              handling policies and procedures should be submitted to the
              Provider’s Corporate Communications department by mail or e-mail
              as follows:
            </p>
            <br />
            <p>
              By mail: Supply Chain Mgmt Inc., 3524 SILVERSIDE RD STE 35B,
              WILMINGTON, DE, 19810-4929
            </p>
            <br />
            <p>By e-mail: info@logitydispatch.com</p>
            <br />
            <ol>
              <li>CHANGES TO THIS STATEMENT</li>
            </ol>
            <br />
            <p>
              Any changes to this Statement and to the Provider’s information
              handling practices will be acknowledged in this Statement in a
              timely manner. The Provider may add, modify or remove portions of
              this Statement when it feels that it is appropriate to do so. For
              substantive changes, the Provider will make reasonable efforts to
              give notice of any changes to this Statement. The Provider may
              provide notifications of substantive changes prominently on its
              website and/or send an email or other form of communication
              notifying individuals of substantive changes to the Statement.
            </p>
            <br />
            <h2>MEXICO – PRIVACY NOTICE</h2>
            <br />
            <p>(This Policy Statement was last updated October,2022)</p>
            <br />
            <p>
              The Provider (“the Provider”) recognizes the importance of
              protecting personal data in accordance with the laws of Mexico.
              This Privacy Notice sets forth how we collect, use and process
              personal data in numeric, alphabetical, graphic, photographic,
              acoustic or any other form concerning an identified or
              identifiable individual (“Personal Data”). The items contained in
              this Privacy Notice are required by Mexico’s Federal Law on the
              Protection of Personal Data Held by Private Parties (“Data
              Protection Law”), its regulation and other applicable
              provisions.&nbsp;
            </p>
            <br />
            <ul>
              <li>
                The Provider is considered the “Data Controller” pursuant to the
                Data Protection Law.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li>
                We will not collect financial, property or sensitive data from
                you without your express consent. Sensitive data is information
                related to state of health, medical history, impairments,
                medical requirements, allergies, results of psychometric tests,
                gender, marital status, bank accounts, records and affiliations.
              </li>
              <li>
                When express consent is required, we will provide you with a
                simple and free-of-charge means of providing express consent.
              </li>
              <li>
                If you have a legal relationship with the Provider, your express
                consent is not required for processing financial, property or
                other Personal Data as strictly required by the relationship.
              </li>
              <li>
                We will not use your Personal Data for any purpose not described
                in our Privacy Policy.
              </li>
              <li>
                You may revoke your express consent for the use of your Personal
                Data at any time by contacting us at info@logitydispatch.com and
                providing sufficient information so that we can comply with your
                request. In any case, said application must clearly detail the
                data or purposes for which your consent is revoked.
              </li>
              <li>
                Your use of the Services provides consent (tacit or express) for
                the collection of Personal Data through the technology means
                discussed in the Privacy Policy. If you do not consent to
                collection of Personal Data through your use of the Services, DO
                NOT USE THE SERVICES.
              </li>
              <li>
                The Personal Data collected is minimally necessary to provide
                you with useful information through access to the Services.
              </li>
              <li>
                Your Personal Data may be transferred to third parties or
                outside of Mexico to offer you goods or services in accordance
                with your use of the Services.
              </li>
              <li>
                Your consent is not necessary when transfers are done to the
                Provider´s Affiliates when transfers are necessary to comply
                with the obligations derived from the relationship with the
                Provider.&nbsp;
              </li>
              <li>
                This Privacy Notice does not apply to corporations or
                individuals accessing the Services as businessmen and women and
                professionals.&nbsp;
              </li>
              <li>
                If Personal Data is collected by technology means (as described
                in the Privacy Policy) it is presumed to comply with the Quality
                Principle of the Data Protection Law, until such time as you
                declare and prove otherwise.&nbsp;
              </li>
              <li>
                We will retain your Personal Data only as long as necessary to
                facilitate your use of the Services or services related to the
                Services.
              </li>
            </ul>
            <br />
            <h2>
              <strong>OTHER INFORMATION PROTECTION REGULATIONS&nbsp;</strong>
            </h2>
            <br />
            <p>
              If you are located in Brazilia, all processing of Personal Data is
              performed in accordance with regulations and rules following the
              <a href="#a">Lei Geral de Proteção de Dados</a>
              (“LGPD”).
            </p>
            <br />
            <p>
              If you are located in the United Kingdom, all processing of
              Personal Data is performed in accordance with regulations and
              rules following
              <a href="#a">the Data Protection Act 2018</a>
              (“DPA 2018”) and UK General Data Protection Regulation (“UK
              GDPR”).
            </p>
            <br />
            <p>
              If you are located in Australia, all processing of Personal Data
              is performed in accordance with regulations and rules following
              <a href="#a">the Privacy Act 1988</a>.
            </p>
            <br />
            <p>
              If you are located in New Zealand, all processing of Personal Data
              is performed in accordance with regulations and rules following
              <a href="#a">Privacy Act 2020</a>.
            </p>
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
