<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>

    <%- include('include/links', {fileCss: "services"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: 'services', page:
    "Services", navPageMore: false}) %>

    <main id="services" class="main main-services">
      <section class="section services">
        <div class="container">
          <div class="title prog-title">Our Services</div>
          <div class="services-row">
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/backgrounds/bg-dispatch.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-number">01</div>
                <div class="services-col-name">Truck dispatching</div>
                <div class="services-col-desc">
                  Truck Dispatching: <br />
                  Keeping Your Business Moving So You Can Focus on Driving.
                  <br />
                  Here at Logity Dispatch, we are proud to be the truck
                  dispatcher company you can rely on.
                </div>
                <a href="/dispatch" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-number">02</div>
                <div class="services-col-name">Billing</div>
                <div class="services-col-desc">
                  Trucking accounting company to keep you and your truck on the
                  road. <br />
                  While you are out there on the road, we give all the necessary
                  support and assistance to get the job done the right way, time
                  and time again.
                </div>
                <a href="/billing" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/backgrounds/bg-billing.jpg" alt="" />
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/backgrounds/bg-docManagement.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-number">03</div>
                <div class="services-col-name">Document Management</div>
                <div class="services-col-desc">
                  Truck Dispatching: <br />
                  Keeping Your Business Moving So You Can Focus on Driving.
                  <br />
                  Here at Logity Dispatch, we are proud to be the truck
                  dispatcher company you can rely on.
                </div>
                <a href="/document-management" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-number">04</div>
                <div class="services-col-name">Factoring Service</div>
                <div class="services-col-desc">
                  Trucking accounting company to keep you and your truck on the
                  road. <br />
                  While you are out there on the road, we give all the necessary
                  support and assistance to get the job done the right way, time
                  and time again.
                </div>
                <a href="/factoring-service" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/backgrounds/bg-facService.jpg" alt="" />
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/backgrounds/bg-rateNegotiation.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-number">05</div>
                <div class="services-col-name">Rate Negotiation</div>
                <div class="services-col-desc">
                  Truck Dispatching: <br />
                  Keeping Your Business Moving So You Can Focus on Driving.
                  <br />
                  Here at Logity Dispatch, we are proud to be the truck
                  dispatcher company you can rely on.
                </div>
                <a href="/rate-negotiation" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-number">06</div>
                <div class="services-col-name">SAFETY / DOT compliance</div>
                <div class="services-col-desc">
                  Trucking accounting company to keep you and your truck on the
                  road. <br />
                  While you are out there on the road, we give all the necessary
                  support and assistance to get the job done the right way, time
                  and time again.
                </div>
                <a href="/safety" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/backgrounds/bg-safety.jpg" alt="" />
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/backgrounds/bg-ifta.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-number">07</div>
                <div class="services-col-name">IFTA Reporting</div>
                <div class="services-col-desc">
                  Truck Dispatching: <br />
                  Keeping Your Business Moving So You Can Focus on Driving.
                  <br />
                  Here at Logity Dispatch, we are proud to be the truck
                  dispatcher company you can rely on.
                </div>
                <a href="/ifta" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-number">08</div>
                <div class="services-col-name">Company Formation</div>
                <div class="services-col-desc">
                  Trucking accounting company to keep you and your truck on the
                  road. <br />
                  While you are out there on the road, we give all the necessary
                  support and assistance to get the job done the right way, time
                  and time again.
                </div>
                <a href="/formation" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/backgrounds/bg-formation.jpg" alt="" />
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/backgrounds/bg-accounting.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-number">09</div>
                <div class="services-col-name">Truckers Accounting</div>
                <div class="services-col-desc">
                  Truck Dispatching: <br />
                  Keeping Your Business Moving So You Can Focus on Driving.
                  <br />
                  Here at Logity Dispatch, we are proud to be the truck
                  dispatcher company you can rely on.
                </div>
                <a href="/accounting" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-number">10</div>
                <div class="services-col-name">Trucking Invoice Service</div>
                <div class="services-col-desc">
                  Trucking accounting company to keep you and your truck on the
                  road. <br />
                  While you are out there on the road, we give all the necessary
                  support and assistance to get the job done the right way, time
                  and time again.
                </div>
                <a href="/invoice" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img src="/img/backgrounds/bg-invoice.jpg" alt="" />
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-img">
                <img src="/img/backgrounds/bg-truckDocManagement.jpg" alt="" />
              </div>
              <div class="services-col-content">
                <div class="services-col-number">11</div>
                <div class="services-col-name">Truck Document Management</div>
                <div class="services-col-desc">
                  Truck Dispatching: <br />
                  Keeping Your Business Moving So You Can Focus on Driving.
                  <br />
                  Here at Logity Dispatch, we are proud to be the truck
                  dispatcher company you can rely on.
                </div>
                <a href="/truck-doc-management" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="services-col">
              <div class="services-col-content services-col-content-reverse">
                <div class="services-col-number">12</div>
                <div class="services-col-name">
                  Trucking Document Dispatch Service
                </div>
                <div class="services-col-desc">
                  Trucking accounting company to keep you and your truck on the
                  road. <br />
                  While you are out there on the road, we give all the necessary
                  support and assistance to get the job done the right way, time
                  and time again.
                </div>
                <a href="/truck-doc-dispatch-service" class="title-more">
                  <p>Read more</p>
                  <div class="title-more-icons">
                    <span class="icon-plus title-more-icon title-icon-plus">
                    </span>
                    <span class="icon-minuse title-more-icon"></span>
                  </div>
                </a>
              </div>
              <div class="services-col-img services-col-img-reverse">
                <img
                  src="/img/backgrounds/bg-truckDocDispatchService.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
