<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of service</title>

    <%- include('include/links', {fileCss: "terms-of-service"}) %>
  </head>
  <body>
    <%- include('include/header', {backgroundImage: "shippers", page: `Terms of
    service`, navPageMore: false}) %>

    <main id="termsOfService" class="main main-termsOfService">
      <section class="terms section">
        <div class="container">
          <div class="title">Terms of service</div>
          <div class="terms-text">
            <p>
              This Terms of Service has been updated and is effective as of
              October, 2022<br /><br />This Site is operated by LOGITY DISPATCH
              and its Affiliates (collectively the “Provider”, “we”, or “us”) on
              its own behalf or on behalf of its Affiliates.The Provider may
              offer you Products and Services delivered to you with or without
              the use of the Site. This document will apply equally and
              interchangeably to such Sites, Products, and Services and such
              Sites, Product, and Services are appended to the definition of
              “the Service” or “the Services.”This document (the “Terms of
              Service” or the “Agreement”) establishes the terms and conditions
              governing your use of the Services provided by the Provider.These
              Terms of Service, together with the Provider’s Privacy Policy,
              constitute a binding agreement between users of the Services
              (“you”, unless otherwise specified) and the Provider.By using the
              Services, you acknowledge and signify that you have read,
              understood, and agree to be bound by this Agreement. You must
              agree to this Agreement in order to access or use the
              Services.This Agreement contains the following provisions:
            </p>
            <br />
            <p>
              1.&nbsp;Your Acceptance of this Agreement<br /><br />This is an
              agreement between you and the Provider and governs your use of the
              Services, its contents and features. Each time you visit, browse,
              order goods through, purchase goods through, advertise goods
              through, access or otherwise use the Services, you signify your
              acceptance and agreement, and the acceptance and agreement of any
              person you purport to represent (and for the purposes of this
              Agreement, “person” includes any type of incorporated or
              unincorporated entity, including your employer), without
              limitation or qualification, to be bound by this Agreement for
              using the Services, and to comply with all applicable laws and
              regulations.Please read the Terms of Service carefully before you
              start to use the Services. By using the Services (or by clicking
              to accept or agree to the Terms of Service when this option is
              made available to you), you accept and agree to be bound and abide
              by these Terms of Service. If you do not want to agree to these
              Terms of Service, you must not access or use the
              Services.&nbsp;&nbsp;&nbsp;By accessing the Services, you
              represent and warrant that you are at least eighteen (18) years
              old and that you have the legal authority to agree to and accept
              this Agreement on behalf of yourself and any person you purport to
              represent. If you do not have the legal authority to agree to and
              accept this Agreement, or if you are not authorized to agree to
              and accept this Agreement, or if you do not agree with the terms
              of this Agreement, then you may not use the Services.
            </p>
            <br />
            <p>
              2.&nbsp;Scope of this Agreement<br /><br />These Terms of Service
              only apply to your activities when using the Services or its
              contents. From time to time, we may establish or authorize the
              Provider’s service provider to establish Provider-branded services
              that operate under different terms and conditions. Those different
              terms and conditions will be linked to that service’s home page.
              Please review such different terms and conditions if you choose to
              visit those sites, as they govern your use thereof.These Terms of
              Service do not affect or amend the terms of any other contracts
              you have entered into or may enter into with the Provider or a
              Provider affiliate, such as carrier contracts, agency agreements,
              transportation and logistics contracts, and other contracts for
              the Provider’s goods or services (each of these separate contracts
              with the Provider and/or its affiliates is referred to as
              “Provider Contracts”), and your and the Provider’s (and its
              affiliates’) respective obligations thereunder, except as
              otherwise expressly set forth in such Provider Contract. The
              Provider “affiliate” is any entity that controls, is under common
              control with, or is controlled by, the Provider.
            </p>
            <br />
            <p>3.&nbsp;Authority</p>
            <br />
            <p>
              The Provider is based in the State of Texas in the United States.
              The Provider provides the Services for use primarily by persons
              located in the United States and the Services is not intended to
              be used by persons located outside of the United States. The
              Provider makes no claims that the Services or any of its content
              is accessible or appropriate outside of the United States. Access
              to the Services may not be legal by certain persons or in certain
              countries. If you access the Services from outside the United
              States, you do so on your own initiative and you accept full
              responsibility for ensuring compliance with local laws.
            </p>
            <br />
            <p>&nbsp;&nbsp;4. Changes to these Terms of Service</p>
            <br />
            <p>
              We may modify, suspend or terminate the operation of the Services,
              as well as its content and offerings, in whole and/or in part, in
              our sole discretion, at any time and for any reason.From time to
              time, the Provider may, in its sole discretion, for any reason and
              without any liability to you or any other person, change,
              supplement or amend these Terms of Service, or require that you
              agree to additional terms and conditions (the “Revised Terms”) in
              order to continue using the Services. Access to some areas of the
              Services may be limited to users who have been authenticated and
              granted permission by the Provider. The Provider reserves its
              right to revoke permission to access such areas of the Services
              for any reason.&nbsp;You may be required to agree to Revised Terms
              in order for you to obtain permission to access some areas of the
              Services, using access credentials consisting of a User Name and
              Password (as defined below), access certain areas of the Services
              or utilize certain features or functions offered regarding the
              Services by the Provider. For example, certain portions of the
              Services may only be accessible to those who have met prerequisite
              the Provider business qualifications or to those situated in
              particular geographic locations. The Provider may require you to
              agree to Revised Terms before you are allowed to share information
              to the Services, participate in group discussions or business
              forums, enter sweepstakes and contests, engage in similar
              interactive activities or participate in commercial activities.
              Such Revised Terms are incorporated herein by reference and made a
              part of these Terms of Service.&nbsp;These Terms of Service may
              only be modified in writing by an authorized officer of the
              Provider and they may not be modified orally or in writing by our
              Site’s customer service representatives or our employees. You may
              not change, supplement, or amend these Terms of Service in any
              manner.You are responsible for checking for revisions to the Terms
              of Service each time you use the Services and, in any event, are
              bound to changes to this Agreement thirty (30) days after such
              changes have been introduced and for which notification of
              substantive changes has been made (such as a notice on the home
              page of the Services that such change has been made.)Any changes
              to the dispute resolution procedures set forth below in Governing
              Law and Venue shall not apply to any disputes that have been
              commenced prior to the changes to the Terms of Service taking
              effect.
            </p>
            <br />
            <p>5. Privacy Policy</p>
            <br />
            <p>
              Please review our Provider’s&nbsp;Privacy Policy, which explains
              the Provider’s practices relating to the collection, use, storage
              (if any) and disclosure of information (including personal
              information) you provide through use of the Services.
              The&nbsp;Privacy Policy&nbsp;is incorporated herein by reference
              and is a part of these Terms of Service. By using the Services,
              you are consenting to the&nbsp;Privacy Policy.
            </p>
            <br />
            <p>
              6. Services Ownership; Copyrights and Trademarks; Intellectual
              Property Rights
            </p>
            <br />
            <p>
              The Provider, its affiliates and/or their licensors own the
              Services, its content, features, functionality and systems,
              including the copyright, and all rights to trademarks and service
              marks used on the site, and all other intellectual property rights
              therein. All rights not expressly granted or licensed herein are
              reserved to the Provider, its affiliates or licensors.The Services
              and its entire contents, data, software, code, features,
              functionality (including but not limited to all information, text,
              displays, images, video, audio and the design, selection and
              arrangement thereof) materials, processes, procedures, methods,
              techniques and any other content (collectively “Data and
              Information”), are owned by the Provider, its affiliates, its
              licensors or other providers of such material and are protected by
              United States and international copyright, trademark, patent,
              trade secret and other intellectual property and proprietary
              rights (hereinafter “Intellectual Property Rights”). You
              acknowledge, understand, and agree that the Provider retains all
              Intellectual Property Rights in and to all Data and Information,
              excluding Data and Information that you may provide.The Provider
              and its affiliates’ trademarks and service marks (many of which
              are registered in the United States and other countries) may
              appear with the Services from time to time, including, without
              limitation, the following examples as applicable (collectively,
              the “the Provider Trademarks”). Other product, service and company
              names appearing in the Services may be the trademarks of their
              respective owners, and are used by the Provider via license or
              under “fair use” principles. Unauthorized use of any such
              Trademarks, including reproduction, imitation, dilution or
              confusing or misleading uses, is prohibited under the trademark
              laws of the United States and other countries. No right or license
              to use any of these trademarks is granted in these Terms of
              Service.The Provider or its affiliates are the owners of all
              domain names that link to the Provider sites in the US and
              internationally and/or relate to the business of the Provider, and
              unauthorized use of these names or any of them is not permitted.If
              you print, copy, modify, download, or otherwise use or provide any
              other person with access to any part of the Services in breach of
              the Terms of Service, your right to use the Services will stop
              immediately and you must, at our option, return or destroy any
              copies of the materials you have made. No right, title, or
              interest in or to the Services or any content with the Services is
              transferred to you, and all rights not expressly granted are
              reserved by the Provider.If you wish to make any use of material
              of the Services other than that set out in this section, please
              address your request to:&nbsp;<a
                href="mailto:info@logitydispatch.com"
                >info@logitydispatch.com</a
              >.
            </p>
            <br />
            <p>
              7.&nbsp;Limited License; Your Use of Services Data and
              Information; MonitoringLimited License:
            </p>
            <br />
            <p>
              Subject to these Terms of Service and any further restrictions set
              forth in the Revised Terms, the Provider hereby grants to you a
              non-exclusive, limited, non-sublicensable, non-transferable,
              revocable license (“Limited License”) to access the Services and
              use the information, features, functions and content made
              available to you with the Services, solely in connection with the
              Provider-related or the Provider affiliate-related business and
              not for purposes of competing with the Provider or its affiliates
              or for any other purpose.<br />Use of Services Data and
              Information: With respect to information and content that is
              identified through the Services as available to you for
              downloading or printing, or is configured to enable you to
              download or print, you may download and/or print one copy and may
              only use it for Provider-related or Provider affiliate-related
              business purpose for which it was made available and not for
              purposes of competing with the Provider, the Provider affiliate,
              or for any other purpose. You are expressly prohibited from
              modifying any of the Services content and from removing or
              altering any visible or non-visible identification, marks,
              notices, or disclaimers in the content that you download or print
              from the Services.<br />Where access to portions of the Services
              is limited to those authenticated users with valid User Names and
              Passwords, the license granted above with respect to those
              portions of the Services is applicable only to those authorized by
              the Provider to use a valid User ID (defined below) and Password
              (defined below).You may link to our homepage, provided you do so
              in a way that is fair and legal and does not damage our reputation
              or take advantage of it, but you must not establish a link in such
              a way as to suggest any form of association, approval, or
              endorsement on our part without our express written consent.<br />The
              Services may provide certain social media features that enable you
              to:(a)&nbsp;Link from your own or certain third party websites to
              certain content regarding the Services.<br />(b)&nbsp;Send emails
              or other communications with certain content, or links to certain
              content, with the Services.<br />(c) Cause limited portions of
              content regarding the Services to be displayed or appear to be
              displayed on your own or certain third party websites.You may use
              these features solely as they are provided by us, and solely with
              respect to the content they are displayed with and otherwise in
              accordance with any additional terms and conditions we provide
              with respect to such features. <br />Subject to the foregoing, you
              must not:<br />(a)&nbsp;Establish a link from any website that is
              not owned by you.<br />(b)&nbsp;Cause the Services or portions of
              it to be displayed on, or appear to be displayed by, any other
              site, for example, framing, deep linking, or in-line linking.<br />(c)
              Link to any part of the Services other than the homepage.<br />(d)&nbsp;Otherwise
              take any action with respect to the materials of the Services that
              is inconsistent with any other provision of these Terms of
              Service.The website from which you are linking, or on which you
              make certain content accessible, must comply in all respects with
              the Content Standards set out in these Terms of Service.<br /><br />You
              agree to cooperate with us in causing any unauthorized framing or
              linking immediately to stop. We reserve the right to withdraw
              linking permission without notice.<br /><br />We may disable all
              or any social media features and any links at any time without
              notice in our discretion.<br /><br />No other license or rights in
              the Services are granted by the Provider and all licenses and
              rights granted may be terminated or revoked by the Provider at any
              time at the Provider’s sole discretion. From time to time the
              Provider may, without notice, monitor your use of the Services,
              although the Provider is not obligated to do so.<br /><br />Monitoring:
              We have the right to monitor your activity with the Services (both
              in public areas and limited access areas of the Services). We have
              the right to cooperate fully with any law enforcement authorities
              or court order requesting or directing us to disclose the identity
              or other information of anyone accessing, using, and sharing any
              materials on or through the Services.<br />
              <br />YOU WAIVE AND HOLD HARMLESS PROVIDER AND ITS AFFILIATES,
              LICENSEES, AND SERVICE PROVIDERS FROM ANY CLAIMS RESULTING FROM
              ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES DURING, OR TAKEN
              AS A CONSEQUENCE OF, INVESTIGATIONS BY EITHER SUCH PARTIES OR LAW
              ENFORCEMENT AUTHORITIES.<br /><br />Although we have the right to
              monitor your activity with the Services, we do not undertake to
              review all material before it is shared with the Services and
              cannot ensure prompt removal of objectionable material after it
              has been shared. Accordingly, we assume no liability for any
              action or inaction regarding transmissions, communications, or
              content provided by any user or third party. We have no liability
              or responsibility to anyone for performance or nonperformance of
              the activities described in this section.
            </p>
            <br />
            <p>8. User Account Access</p>
            <br />
            <p>
              You are responsible for maintaining the security of information
              such as user identification (a unique identifier, email addresses
              or other combination of characters and numbers used to identify a
              user collectively referred to as “User ID”), codes and passwords
              (codes and passwords are collectively referred to as a “Password”)
              that you are given or adopt for purposes of accessing non-public
              portions of the Services. If you choose, or are provided with , a
              User ID, Password, or any other piece of information as part of
              our security procedures, you must treat such information as
              confidential, and you must not disclose it to any other person or
              entity. You also acknowledge that your account is personal to you
              and agree not to provide any other person with access to the
              Services or portions of it using your User ID, Password, or other
              security information. You agree to notify us immediately of any
              unauthorized access to or use of your user name, User ID, and/or
              Password or any other breach of security. You also agree to ensure
              that you exit from your account at the end of each session. You
              should use particular caution when accessing your account from a
              public or shared computer so that others are not able to view or
              record your Password or other personal information.the Provider,
              from time-to-time, may require you to change your Password. The
              Provider reserves the right to enforce specific password
              requirements (e.g. length or specific character and/or number
              requirements), although the Provider is not obligated to do so.<br />the
              Provider may require you to select a security question and supply
              an answer (collectively Security Question). Your Security Question
              is user-selected and must be kept confidential. The Provider, from
              time-to-time, may require you to select a new Security Question,
              although the Provider is not obligated to do so.<br />the Provider
              may require you to provide certain information such as your FID,
              Agency, Tractor, or the Provider Carrier ID prior to granting
              access to non-public areas of the Services. You agree that any
              information you provide to the Provider will be true, accurate,
              current and complete and your failure to provide true, accurate,
              current, and complete information is a breach of these Terms of
              Service. You (or your employer, if you use the Services on behalf
              of your employer) are solely responsible and liable for any use
              and misuse of your User ID and Password and for all activities
              that occur under your User ID and Password. <br /><br />You must
              ensure that all uses of your User ID and Password comply with
              these Terms of Service.You must immediately notify the Provider
              at&nbsp;<a href="mailto:info@logitydispatch.com"
                >info@logitydispatch.com</a
              >
              of any unauthorized use of your User ID or Password, or if you
              know or suspect that your User ID and/or Password has been lost or
              stolen, has become known to any other person, or has been
              otherwise compromised.<br /><br />You agree to respond promptly to
              any communications from the Provider regarding your use of the
              Services, your User ID and your Password.All User ID and Passwords
              remain the property of the Provider, and may be cancelled or
              suspended at any time by the Provider without any notice or
              liability to you or any other person. The Provider is not under
              any obligation to verify the actual identity or authority of the
              user of any User ID or Password.<br /><br />THE SECURITY AND
              PRIVACY PROVIDED BY AN USER ID, PASSWORD, SECURITY QUESTION AND
              OTHER SECURITY INFORMATION IS NOT COMPLETE AND CAN BE
              CIRCUMVENTED. YOUR USE OF ANY ACCESS FEATURES AND SECURITY
              INFORMATION IS AT YOUR OWN RISK.
            </p>
            <br />
            <p>9.&nbsp;Provider Confidential Information</p>
            <br />
            <p>
              Certain information appearing with the Services may be, and may be
              identified as, the Provider confidential information. The Provider
              confidential information is all information that is marked as
              confidential or that ought reasonably to be deemed to be
              confidential, including without limitation contact information for
              the Provider or its affiliates’ agents and the Provider or its
              affiliates’ BCO field representatives, information about the
              Provider, its affiliates and their respective agents’ safety
              procedures and systems, information about particular loads,
              information regarding the Provider’s and its affiliates’ services,
              products, customers, customer lists, bookkeeping, written
              contracts and agreements, rates, compensation or techniques, and
              additional non-public information that is accessible only via
              Passwords. <br />You agree only to use Provider confidential
              information as expressly permitted in these Terms of Service and
              as further restricted by any Revised Terms. In addition, you agree
              only to use such Provider confidential information in connection
              with Provider-related or Provider affiliate-related business, for
              no other purpose, and not to compete with the Provider or its
              affiliates. Upon the Provider’s request, you will immediately
              return or destroy all such the Provider confidential information
              in your possession and make no further use thereof.
            </p>
            <br />
            <p>10.&nbsp;Third Party Products and Services</p>
            <br />
            <p>
              From time to time, the Services may contain information about
              third party products and services. For example, the Provider may
              arrange for discounts to be provided on certain third party
              products and services, third party products and services may be
              advertised with the Services, and third party products and
              services may be sold with the Services. Further, the Provider may
              provide an opportunity with the Services where users may share
              information about their property, such as trucks, trailers and
              other trucking-related equipment, or services they want to sell or
              provide (a “For Sale By Owner Service”). <br />With respect to all
              such third party products and services, you should be aware that
              they are not being provided by the Provider and the Provider is
              not responsible for such goods or services or the terms on which
              they may be purchased or sold. If you choose to purchase such
              goods or services, you do so at your own risk and you should
              carefully evaluate them and the terms upon which you are
              purchasing them.If the Services contains links to other sites and
              resources provided by third parties, these links are provided for
              your convenience only. <br />This includes links contained in
              advertisements, including banner advertisements and sponsored
              links. We have no control over the contents of those sites or
              resources and accept no responsibility for them or for any loss or
              damage that may arise from your use of them. If you decide to
              access any of the third party websites linked to the Services, you
              do so entirely at your own risk and subject to the terms and
              conditions of use for such websites.
            </p>
            <br />
            <p>11.&nbsp;Load Information</p>
            <br />
            <p>
              From time to time, the Provider may provide you with access to
              load information (“Load Information”). You may use and print out
              such Load Information solely for the purposes of identifying loads
              that may suit your capabilities, contacting agents to confirm the
              accuracy of such Load Information for logistical and planning
              purposes, and/or for other commercial purposes in connection with
              doing business with the Provider or its affiliates, but in any
              case not for use to compete with the Provider, its affiliates or
              for any other purpose. <br />Load Information is provided by
              independent agents and is not monitored or checked by the Provider
              for content or accuracy. <br />PROVIDER ADVISES YOU NOT TO RELY
              UPON THE LOAD INFORMATION SHARED ON THE SERVICES AND EXPRESSLY
              DISCLAIMS ANY RESPONSIBILITY FOR INACCURATE OR INCOMPLETE LOAD
              INFORMATION. The Provider further advises you to contact, and you
              do hereby agree to contact, the individual agent or agents who
              post the specific Load Information with the Services to confirm
              that such information is complete and accurate.
            </p>
            <br />
            <p>12.&nbsp;Request Mechanisms</p>
            <br />
            <p>
              the Provider makes available with the Services mechanisms for you
              to request or inquire about transportation, logistics and other
              non-Services-related services from the Provider or its affiliates.
              None of these mechanisms create a binding obligation between you
              and the Provider or its affiliates, and in order for you to engage
              the Provider or its affiliates to provide any such services, you
              and the Provider or the affiliate must execute separate written
              contracts setting forth the terms and conditions under which such
              services are to be provided.
            </p>
            <br />
            <p>
              13.&nbsp;Information you Provide to the Provider with the Services
            </p>
            <br />
            <p>
              From time to time, the Provider may offer capabilities and
              features with the Services that enable you to share information
              with the Services (whether directly or through the Provider) that
              will be visible to other Services users who access the Services
              and/or that will enable you to interact with other Services users.
              All information or material that you or other users provide for
              use with the Services or share with the Services is referred to in
              these Terms of Service as “User Shared Content”.<br />The Provider
              may provide user online discussion and chat forums, and other
              interactive features, to provide a forum for User Shared Content,
              to provide for the exchange of information in connection with
              online load transactions, arrange for users to share Load
              Information, and to provide other interactive features and
              functions for use by users of the Services. <br />You may also
              choose to provide User Shared Content in the For Sale By Owners
              Section. You acknowledge that your use of the Services and the
              User Shared Content you provide is governed by the
              Provider’s&nbsp;Privacy Policy.Users may also from time to time
              submit suggestions and ideas (“Suggestions”) to the Provider via
              email or through User Shared Content about ways in which the
              Provider may improve or expand its or its affiliates’ business
              (such as ideas for new or improved products, services or Services
              features).By sharing or providing User Shared Content and/or by
              submitting Suggestions, you are granting to the Provider and its
              designees a perpetual, royalty-free, non-exclusive,
              non-terminable, sublicensable, worldwide license to use,
              reproduce, modify, distribute, transmit, re-transmit, create
              derivative works of, publicly display, publicly perform, publish,
              store and exploit such information and Suggestions in any way, in
              whole or in part, in all media now known or hereinafter
              discovered, without obligation to do so or without any
              compensation to you. By sharing or providing User Shared Content
              and/or by submitting Suggestions, you are also warranting that you
              have all necessary right, title and interest to grant such a
              license and that such User Shared Content and Suggestions do not
              infringe upon the rights of others, are not injurious to others,
              and comply with the requirements imposed on you under these Terms
              of Service. Any User Shared Content you share with the services
              will be considered non-confidential and non-proprietary.You are
              responsible for any User Shared Content and Suggestions that you
              provide to the Provider or share with the Services, or that is
              provided or shared using your Passwords. The Provider is not
              responsible for any User Shared Content or Suggestions, including,
              without limitation, User Shared Content or Suggestions from other
              Services users that you may encounter in your use of the
              Services.The Provider expressly reserves the right, without
              obligation or notice, to pre-screen, remove, modify, refuse to
              share, delete, block, take down, and/or edit all User Shared
              Content and Suggestions, for any reason, in its sole
              discretion.Whenever you provide User Shared Content to the
              Provider, you represent and warrant that you own or control all
              rights in and to the User Shared Content and have the right to
              grant the license granted above to the Provider, its affiliates
              and service providers, and each of their respective licensees,
              successors, and assigns; and that all User Shared Content does and
              will comply with these Terms of Service. You understand and
              acknowledge that you are responsible for any User Shared Content
              you submit or contribute, and you, not the Provider, have full
              responsibility for such content, including its legality,
              reliability, accuracy, and appropriateness.We are not responsible
              or liable to any third party for the content or accuracy of any
              User Shared Content shared by you or any other user of the
              Services. Without limiting the foregoing, User Shared Content must
              not violate the following “Content Standards”:<br />(a)&nbsp;Contain
              any material that is defamatory, obscene, indecent, abusive,
              offensive, harassing, violent, hateful, inflammatory, or otherwise
              objectionable.<br />(b)&nbsp;Promote sexually explicit or
              pornographic material, violence, or discrimination based on race,
              sex, religion, nationality, disability, sexual orientation, or
              age.<br />(c)&nbsp;Infringe any patent, trademark, trade secret,
              copyright, or other intellectual property or other rights of any
              other person.<br />(d) Violate the legal rights (including the
              rights of publicity and privacy) of others or contain any material
              that could give rise to any civil or criminal liability under
              applicable laws or regulations or that otherwise may be in
              conflict with these Terms of Service and our&nbsp;Privacy
              Policy.(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be
              likely to deceive any person.<br />(f)&nbsp;Promote any illegal
              activity, or advocate, promote, or assist any unlawful act.<br />(g)&nbsp;Cause
              annoyance, inconvenience, or needless anxiety or be likely to
              upset, embarrass, alarm, or annoy any other person.<br />(h)&nbsp;Impersonate
              any person or misrepresent your identity or affiliation with any
              person or organization.<br />(i)&nbsp;Involve commercial
              activities or sales, such as contests, sweepstakes, and other
              sales promotions, barter, or advertising.<br />(j)&nbsp;Give the
              impression that they emanate from or are endorsed by us or any
              other person or entity, if this is not the case.
            </p>
            <br />
            <p>14.&nbsp;Acceptable Use; Prohibited Use</p>
            <br />
            <p>
              You are responsible for all activities you engage in, on or
              through use of the Services, and those engaged in by anyone using
              your Passwords. You agree to use the Services in accordance with
              these Terms of Service, the Revised Terms, and all applicable
              laws, rules and regulations. You agree to keep all information you
              provide to the Provider or share with the Services up-to-date,
              complete and accurate, including, without limitation, all Load
              Information, contact information, User Shared Content, and all
              information you provide to other users.In addition, you agree not
              to provide to the Provider, share with the Services, or transmit
              through the Services information, materials, User Shared Content
              or Suggestions that:<br />(a)&nbsp;Are inaccurate, false,
              misleading, deceptive, tortious, injurious, unlawful, threatening,
              abusive, defamatory, obscene, lewd, lascivious, violent,
              harassing, offensive, pornographic, profane or indecent, or that
              would constitute or encourage conduct that would constitute a
              criminal offense, give rise to civil liability, or violate
              applicable laws, rules and/or regulations.<br />(b)&nbsp;Violate
              the proprietary rights of others, including, without limitation,
              the copyright, trademark, trade dress, patent, trade secret, or
              moral rights of others, or information or material that violates
              another’s rights of privacy, publicity or confidentiality.<br />(c)&nbsp;You
              do not have the right to provide, share or transmit.<br />(d)&nbsp;Credit
              card account information or personal information that could be
              used to login to a financial account.<br />(e)&nbsp;In any way
              that violates any applicable federal, state, local, or
              international law or regulation (including, without limitation,
              any laws regarding the export of data or software to and from the
              US or other countries).For the purpose of exploiting, harming, or
              attempting to exploit or harm minors in any way by exposing them
              to inappropriate content, asking for personally identifiable
              information, or otherwise.<br />(f)&nbsp;To send, knowingly
              receive, upload, download, use, or re-use any material that does
              not comply with the Content Standards, above, as set out in these
              Terms of Service.<br />(g)&nbsp;To transmit, or procure the
              sending of, any advertising or promotional material without our
              prior written consent, including any “junk mail”, “chain letter”,
              “spam”, or any other similar solicitation.<br />(h)&nbsp;To
              impersonate or attempt to impersonate the Provider, the Provider
              employee, another user, or any other person or entity (including,
              without limitation, by using email addresses or screen names
              associated with any of the foregoing).<br />(i)&nbsp;To engage in
              any other conduct that restricts or inhibits anyone&#8217;s use or
              enjoyment of the Services, or which, as determined by us, may harm
              the Provider or users of the Services or expose them to
              liability.<br /><br />In addition, you agree not to engage in
              activities on or through use of the Services or using information
              gathered from the Services, so as to:<br />(a)Violate these Terms
              of Service or applicable laws, rules or regulations<br />(b)&nbsp;Engage
              in fraudulent activity.<br />(c)&nbsp;Violate any terms of use,
              rules, policies or guidelines of your Internet access provider,
              online service, or sites to which the Services
              links.(d)&nbsp;Damage, delete or modify or make derivative
              versions of any information or material with the Services (except
              for deleting or modifying your own User Shared Content where the
              Services makes that function possible).<br />(e)&nbsp;Modify any
              copyright or other proprietary notices or legends with the
              Services or information or material printed or downloaded from the
              Services.<br />(f)&nbsp;Impersonate or misrepresent your
              affiliation with the Provider or frame our Services.<br />(g)&nbsp;Use
              any robot, scraper or other automated process not provided by us
              to gather information or extract data from the Services.<br />(h)&nbsp;Reverse
              engineer or copy or disassemble any programming components of the
              Services or otherwise endeavour to discover source code from the
              Services.<br />(i)&nbsp;Bypass or circumvent or endeavour to
              bypass or circumvent measures employed to prevent or limit access
              to areas, code, or content of the Services.<br />(j)&nbsp;Gather
              or use email or other contact information from other Services
              users except as expressly permitted by the Services and
              the&nbsp;Privacy Policy.(k)&nbsp;Use the Services systems to send
              unsolicited emails.<br />(l)&nbsp;Disable, disrupt, impair,
              overburden or damage the Services or interfere with any other
              party’s use thereof, such as through viruses, denial of service
              attacks, spamming, flooding or other disruptive components or
              acts.(m)&nbsp;Endanger or threaten the safety or security of or
              cause harm to any person or property.<br />(n)&nbsp;Use any robot,
              spider, or other automatic device, process, or means to access the
              Services for any purpose, including monitoring or copying any of
              the material with the Services.<br />(o)&nbsp;Use any manual
              process to monitor or copy any of the material with the Services
              or for any other unauthorized purpose without our prior written
              consent.<br />(p)&nbsp;Use any device, software, or routine that
              interferes with the proper working of the Services.<br />(q)&nbsp;Introduce
              any viruses, Trojan horses, worms, logic bombs, or other material
              that is malicious or technologically harmful.<br />(r)&nbsp;Attempt
              to gain unauthorized access to, interfere with, damage, or disrupt
              any parts of the Services, the server on which the Services is
              stored, or any server, computer, or database connected to the
              Services.<br />(s)&nbsp;Attack the Services via a
              denial-of-service attack or a distributed denial-of-service
              attack.<br />(t)&nbsp;Otherwise attempt to interfere with the
              proper working of the Services.
            </p>
            <br />
            <p>
              The Provider has the right to:<br />(a)&nbsp;Remove or refuse to
              share any User Shared Content for any or no reason in our sole
              discretion.<br />(b)&nbsp;Take any action with respect to any User
              Shared Content that we deem necessary or appropriate in our sole
              discretion, including if we believe that such User Shared Content
              violates the Terms of Service, infringes any intellectual property
              right or other right of any person or entity, threatens the
              personal safety of users of the Services or the public, or could
              create liability for the Provider.<br />(c)&nbsp;Disclose your
              identity or other information about you to any third party who
              claims that material shared by you violates their rights,
              including their intellectual property rights or their right to
              privacy.<br />(d)&nbsp;Take appropriate legal action, including
              without limitation, referral to law enforcement, for any illegal
              or unauthorized use of the Services.(e)&nbsp;Terminate or suspend
              your access to all or part of the Services for any or no reason,
              including without limitation, any violation of these Terms of
              Service.
            </p>
            <br />
            <p>
              Without limiting the foregoing, the Provider has the right to
              report to law enforcement authorities any violation of these Terms
              of Service. To be clear, you have no expectation of privacy
              related to your use of the Services, except as described in the
              Provider’s&nbsp;Privacy Policy. We have the right to cooperate
              fully with any law enforcement authorities or court order
              requesting or directing us to disclose the identity or other
              information of anyone sharing any materials on or through the
              Services. <br />YOU WAIVE AND HOLD HARMLESS PROVIDER AND ITS
              AFFILIATES, LICENSEES, AND SERVICE PROVIDERS FROM ANY CLAIMS
              RESULTING FROM ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES
              DURING, OR TAKEN AS A CONSEQUENCE OF, INVESTIGATIONS BY EITHER
              SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
            </p>
            <br />
            <p>
              However, we do not undertake to review all material before it is
              shared with the Services, and cannot ensure prompt removal of
              objectionable material after it has been shared. Accordingly, we
              assume no liability for any action or inaction regarding
              transmissions, communications, or content provided by any user or
              third party. We have no liability or responsibility to anyone for
              performance or nonperformance of the activities described in this
              section.Nothing in these Terms of Service shall prohibit or
              restrict the Provider or any Provider affiliate from complying
              with all applicable laws, rules and regulations, and all law
              enforcement requests and/or subpoenas. The Provider may use and
              disclose any User Shared Content, Suggestions, User ID, Passwords,
              security information and user contact information as the Provider
              deems reasonable to comply with the law, to respond to such
              requests or subpoenas, to enforce these Terms of Service or the
              Provider Contracts, and to protect the safety of persons or
              property.While the Services is not directed to or expected to be
              used by children, parents should know that there is a significant
              amount of information available to them and a variety of
              commercially available products and services that can assist them
              in implementing controls to block minors’ access to adult, violent
              or other content that the parent prefers to
              block.&nbsp;&nbsp;&nbsp;The Federal Trade Commission maintains a
              website at www.onguardonline.gov that contains information about
              protecting kids using the Internet.
            </p>
            <br />
            <p>15. Copyright Infringementthe</p>
            <br />
            <p>
              Provider respects the intellectual property rights of others and
              requires that all users of the Services do the same. The Provider
              will investigate notices of copyright infringement and take
              appropriate action upon receipt of proper notification, including
              termination of Services access and termination of other privileges
              of anyone who repeatedly infringes the copyright rights of others.
              If you believe that your work has been used, shared or copied with
              the Services in a way that constitutes copyright infringement,
              please notify the Provider Copyright Agent (at the address set
              forth below) in writing with the following information:<br />(a)&nbsp;Your
              real name and your current valid working email address and
              telephone number with which we can contact you;<br />(b)&nbsp;Identification
              of the work protected by copyright that you claim has been
              infringed or, if multiple works have been infringed, a
              representative list of such works;<br />(c)&nbsp;A description of
              where the work that you claim infringes your work is being used or
              appears with the Services;<br />(d)&nbsp;A written statement by
              you that you have a good-faith belief that the disputed use is not
              authorized by the copyright owner, its agent, or the
              law;(e)&nbsp;A statement by you, made under penalty of perjury,
              that the above information in your notice is accurate and that you
              are the copyright owner or authorized to act on behalf of the
              copyright owner; and<br />(f)&nbsp;Your electronic or physical
              signature.the Provider’s Copyright Agent is:&nbsp; &nbsp;<a
                href="mailto:info@logitydispatch.com"
                >info@logitydispatch.com</a
              >
            </p>
            <br />
            <p>
              16.&nbsp;Disclaimer, Liability Exclusion, Liability Limitation,
              Release and Indemnitythe
            </p>
            <br />
            <p>
              Provider strives to make your use of the Services a useful
              experience. Nevertheless, neither the Provider nor any Provider
              affiliate on whose behalf the Provider is operating the Services
              (the “the Provider Affiliate”), accepts any liability for your use
              of the Services. From time to time, the Services may contain
              technical inaccuracies or typographical errors, and we do not
              warrant the accuracy of any shared information. Please confirm you
              are using the most up-to-date information with the Services, and
              confirm the accuracy and completeness of information before using
              it to make decisions relating to services, products, or other
              matters described in the Services.<br />If any term in this Terms
              of Service is found by competent judicial authority to be
              unenforceable in any respect, the validity of the remainder of
              this Terms of Service will be unaffected, provided that such
              unenforceability does not materially affect the parties’ rights
              under this Terms of Service.<br />DISCLAIMER YOUR USE OF THE
              SERVICES IS AT YOUR OWN RISK. &nbsp;YOU ASSUME THE ENTIRE COST OF
              ALL NECESSARY SERVICING, REPAIR OR CORRECTION TO ANY COMPUTER OR
              OTHER EQUIPMENT ARISING FROM, CONNECTED WITH, OR RELATING TO YOUR
              USE OF THE SERVICES.THE OPERATION OF THE SERVICES MAY BE AFFECTED
              BY NUMEROUS FACTORS BEYOND PROVIDER’S CONTROL. &nbsp;THE OPERATION
              OF THE SERVICES MAY NOT BE CONTINUOUS OR UNINTERRUPTED OR SECURE.
              &nbsp;SECURITY AND PRIVACY AND CONFIDENTIALITY RISKS CANNOT BE
              ELIMINATED.NEITHER PROVIDER NOR THE PROVIDER AFFILIATE IS UNDER
              ANY OBLIGATION TO VERIFY THE IDENTITY OF USERS OF THE SERVICES.
              &nbsp;HOWEVER, YOU PROMISE NOT TO SHARE USE OF YOUR USER NAME OR
              PASSWORDS NOR TO ALLOW ANYONE TO USE THE SERVICES POSING AS
              YOU.THROUGH OR BECAUSE OF YOUR USE OF THE SERVICES, YOU MAY HAVE
              THE OPPORTUNITY TO ENGAGE IN COMMERCIAL TRANSACTIONS WITH PERSONS
              OTHER THAN PROVIDER OR THE PROVIDER AFFILIATE.&nbsp; ALL SUCH
              TRANSACTIONS ARE AT YOUR OWN RISK.&nbsp; NEITHER PROVIDER NOR THE
              PROVIDER AFFILIATE IS A PARTY TO ANY SUCH TRANSACTIONS AND
              DISCLAIMS ANY AND ALL LIABILITY REGARDING ALL SUCH TRANSACTIONS.
              &nbsp;PROVIDER AND THE PROVIDER AFFILIATE MAKE NO REPRESENTATIONS,
              WARRANTIES OR CONDITIONS OF ANY KIND WITH RESPECT TO SUCH
              TRANSACTIONS, WHETHER EXPRESS OR IMPLIED, AND INCLUDING WITHOUT
              LIMITATION IMPLIED WARRANTIES OF MERCHANTABLE QUALITY, FITNESS FOR
              A PARTICULAR PURPOSE, PERFORMANCE OR USEFULNESS, ALL OF WHICH
              PROVIDER AND THE PROVIDER AFFILIATE DISCLAIM TO THE FULLEST EXTENT
              PERMITTED BY LAW.WITHOUT LIMITING THE GENERALITY OF THE FOREGOING,
              PROVIDER AND THE PROVIDER AFFILIATE MAKE NO REPRESENTATION,
              WARRANTY OR CONDITION THAT:<br />• THE SERVICES WILL BE COMPATIBLE
              WITH YOUR COMPUTER AND RELATED EQUIPMENT AND SOFTWARE;<br />•&nbsp;THE
              SERVICES WILL BE AVAILABLE OR WILL FUNCTION WITHOUT INTERRUPTION
              OR WILL BE FREE OF ERRORS OR THAT ANY ERRORS WILL BE CORRECTED;<br />•&nbsp;THE
              INFORMATION AVAILABLE ON OR THROUGH THE SERVICES WILL BE ACCURATE,
              COMPLETE, SEQUENTIAL, OR TIMELY;<br />•&nbsp;PARTICULAR RESULTS OR
              ANY RESULTS AT ALL MAY BE OBTAINED THROUGH THE USE OF THE
              SERVICES;<br />• THE USE OF THE SERVICES, INCLUDING THE BROWSING
              AND DOWNLOADING OF ANY INFORMATION, WILL BE FREE OF VIRUSES,
              TROJAN HORSES, WORMS OR OTHER DESTRUCTIVE OR DISRUPTIVE
              COMPONENTS; OR<br />•&nbsp;THE USE OF THE SERVICES WILL NOT
              INFRINGE THE RIGHTS (INCLUDING INTELLECTUAL PROPERTY RIGHTS) OF
              ANY PERSON.PROVIDER AND ITS AFFILIATES DISCLAIM ANY AND ALL
              LIABILITY REGARDING SUCH MATTERS TO THE FULLEST EXTENT PERMITTED
              BY LAW.YOU AGREE TO IMPLEMENT SUFFICIENT SECURITY SAFEGUARDS AND
              BACKUP PROCEDURES TO SATISFY YOUR PARTICULAR REQUIRMENTS FOR
              ANTI-VIRUS PROTECTION AND ACCURACY OF DATA INPUT AND OUTPUT, AND
              FOR MAINTAINING A MEANS EXTERNAL TO OUR SERVICES FOR ANY
              RECONSTRUCTION OF ANY LOST, DEGRADED OR CORRUPTED DATA.ADDITIONAL
              DISCLAIMERS MAY APPEAR WITHIN THE SERVICES ITSELF AND ARE
              INCORPORATED HEREIN BY REFERENCE.LIABILITY EXCLUSIONNEITHER
              PROVIDER NOR THE PROVIDER AFFILIATE WILL UNDER ANY CIRCUMSTANCES
              BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY LOSS OF USE, LOSS OF
              PRODUCTION, LOSS OF INCOME OR PROFITS (ANTICIPATED OR OTHERWISE),
              LOSS OF MARKETS, ECONOMIC LOSS, SPECIAL, INDIRECT OR CONSEQUENTIAL
              LOSS OR DAMAGE OR PUNITIVE DAMAGES, WHETHER IN CONTRACT, TORT OR
              UNDER ANY OTHER THEORY OF LAW OR EQUITY, ARISING FROM, CONNECTED
              WITH, OR RELATING TO THE USE OF THE SERVICES BY YOU OR ANY OTHER
              PERSON, AND REGARDLESS OF ANY NEGLIGENCE OR OTHER FAULT OR
              WRONGDOING BY PROVIDER, ANY PROVIDER AFFILIATE, OR ANY PERSON FOR
              WHOM PROVIDER IS RESPONSIBLE, AND NOTWITHSTANDING THAT PROVIDER OR
              ANY PROVIDER AFFILIATE OR PERSON FOR WHOM PROVIDER IS RESPONSIBLE
              MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES
              BEING INCURRED BY YOU OR ANY OTHER PERSON.TO THE FULLEST EXTENT
              PROVIDED BY LAW, WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE
              CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES, OR
              OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR
              COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA, OR OTHER PROPRIETARY
              MATERIAL DUE TO YOUR USE OF THE SERVICES OR ANY SERVICES OR ITEMS
              OBTAINED THROUGH THE SERVICES OR TO YOUR DOWNLOADING OF ANY
              MATERIAL SHARED ON IT, OR ON ANY WEBSERVICES LINKED TO IT.YOUR USE
              OF THE SERVICES, ITS CONTENT, AND ANY SERVICES OR ITEMS OBTAINED
              THROUGH THE SERVICES IS AT YOUR OWN RISK. THE SERVICES, ITS
              CONTENT, AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES
              ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY
              WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER
              PROVIDER NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY
              WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS,
              SECURITY, RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE
              SERVICES. WITHOUT LIMITING THE FOREGOING, NEITHER PROVIDER NOR
              ANYONE ASSOCIATED WITH PROVIDER REPRESENTS OR WARRANTS THAT THE
              SERVICES, ITS CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH
              THE SERVICES WILL BE ACCURATE, RELIABLE, ERROR-FREE, OR
              UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR SERVICES
              OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER
              HARMFUL COMPONENTS, OR THAT THE SERVICES OR ANY SERVICES OR ITEMS
              OBTAINED THROUGH THE SERVICES WILL OTHERWISE MEET YOUR NEEDS OR
              EXPECTATIONS.TO THE FULLEST EXTENT PROVIDED BY LAW, PROVIDER
              HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR
              IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY
              WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR
              PARTICULAR PURPOSE.THE FOREGOING DOES NOT AFFECT ANY WARRANTIES
              THAT CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAWLIMITATION
              OF LIABILITYTO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT,
              INCLUDING DUE TO NEGLIGENCE, WILL PROVIDER OR ANY OF ITS
              AFFILIATES OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR
              LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL,
              PUNITIVE, SPECIAL OR OTHER DAMAGES, INCLUDING, WITHOUT LIMITATION,
              DAMAGES DUE TO LOST PROFITS OR BUSINESS INTERRUPTION, ARISING OUT
              OF USE OF THE SERVICES, SERVICES OPERATIONS, OR ANY CONTENT,
              INFORMATION, PRODUCT OR SERVICE MADE AVAILABLE THROUGH THE
              SERVICES, EVEN IF PROVIDER OR ANY OF ITS AFFILIATES HAS BEEN
              ADVISED OF THE POSSIBILITY THEREOF. TO THE FULLEST EXTENT
              PERMITTED BY LAW, THE LIABILITY OF PROVIDER AND ITS AFFILIATES AND
              THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES AND LICENSORS
              ARISING OUT OF OR IN CONNECTION WITH THIS SERVICES IS LIMITED TO
              THE LESSER OF THE DOLLAR AMOUNT YOU PAID PROVIDER TO USE THIS
              SERVICES OR $100.RELEASEYOU HEREBY RELEASE, REMISE AND FOREVER
              DISCHARGE EACH OF PROVIDER, ITS AFFILIATES, AND ALL OF THEIR
              RESPECTIVE AGENTS, DIRECTORS, OFFICERS, EMPLOYEES, INFORMATION
              PROVIDERS, SERVICE PROVIDERS, SUPPLIERS, LICENSORS AND LICENSEES,
              AND ALL OTHER RELATED, ASSOCIATED, OR CONNECTED PERSONS FROM ANY
              AND ALL MANNER OF RIGHTS, CLAIMS, COMPLAINTS, DEMANDS, CAUSES OF
              ACTION, PROCEEDINGS, LIABILITIES, OBLIGATIONS, LEGAL FEES, COSTS,
              AND DISBURSEMENTS OF ANY NATURE AND KIND WHATSOEVER AND HOWSOEVER
              ARISING, WHETHER KNOWN OR UNKNOWN, WHICH NOW OR HEREAFTER EXIST,
              WHICH ARISE FROM, RELATE TO, OR ARE CONNECTED WITH YOUR USE OF THE
              SERVICES.INDEMNITYYOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS
              EACH OF PROVIDER, ITS AFFILIATES, AND ALL OF THEIR RESPECTIVE
              AGENTS, DIRECTORS, OFFICERS, EMPLOYEES, INFORMATION PROVIDERS,
              SERVICE PROVIDERS, SUPPLIERS, LICENSORS AND LICENSEES, AND ALL
              OTHER RELATED, ASSOCIATED, OR CONNECTED PERSONS (COLLECTIVELY, THE
              “INDEMNIFIED PARTIES”) FROM AND AGAINST ANY AND ALL LIABILITIES,
              EXPENSES AND COSTS, INCLUDING WITHOUT LIMITATION REASONABLE LEGAL
              FEES AND EXPENSES, INCURRED BY THE INDEMNIFIED PARTIES IN
              CONNECTION WITH ANY CLAIM OR DEMAND ARISING OUT OF, RELATED TO, OR
              CONNECTED WITH YOUR USE OF THE SERVICES, THE PRODUCTS AND SERVICES
              OFFERED THROUGH THE SERVICES, THE USE OF THE SERVICES BY SOMEONE
              POSING AS YOU, OR YOUR BREACH OF THIS AGREEMENT. YOU WILL ASSIST
              AND CO-OPERATE AS FULLY AS REASONABLY REQUIRED BY THE INDEMNIFIED
              PARTIES IN THE DEFENCE OF ANY SUCH CLAIM OR DEMAND. YOU FURTHER
              AGREE TO INDEMNIFY PROVIDER AND THE INDEMNIFIED PARTIES FROM ALL
              SUITS, DAMAGES, COSTS AND LIABILITIES WHATSOEVER ARISING FROM ANY
              TRANSACTIONS IN WHICH YOU ENGAGE USING PRODUCTS OR SERVICES
              OBTAINED FROM OR THROUGH THE SERVICES. ADVICE AND INFORMATION
              PROVIDED BY PROVIDER, ANY OF ITS AFFILIATES, OR THEIR
              REPRESENTATIVES, WHETHER ORAL OR WRITTEN, WILL NOT CREATE ANY
              REPRESENTATION, WARRANTY OR CONDITION OR VARY OR AMEND THIS
              AGREEMENT, INCLUDING THE ABOVE DISCLAIMER, LIABILITY EXCLUSION,
              LIABILITY LIMITATION, RELEASE AND INDEMNITY PROVISIONS, AND YOU
              MAY NOT RELY UPON ANY SUCH ADVICE OR INFORMATION.THE EXCLUSION OF
              CERTAIN WARRANTIES AND THE LIMITATIONS OF CERTAIN LIABILITIES MAY
              BE PROHIBITED BY CERTAIN LEGISLATION AND LAWS IN SOME
              JURISDICTIONS AND THUS MAY NOT APPLY TO YOU.&nbsp;<br />The
              disclaimer, liability exclusion, liability limitation, release,
              and indemnity provisions in this Agreement survive indefinitely
              after the termination of this Agreement.
            </p>
            <br />
            <p>17.&nbsp;Links</p>
            <br />
            <p>
              The Services may contain links to or from sites controlled by
              third parties. The Provider and the Provider Affiliate make no
              representations or warranties regarding linked sites or their
              content or goods or services you may encounter or obtain thereon.
              If the Services contains links to other sites and resources
              provided by third parties, these links are provided for your
              convenience only. The Provider has no control over the contents of
              those sites or resources, and neither the Provider nor the
              Provider Affiliate accepts responsibility for them or for any loss
              or damage that may arise from your use of them. If you decide to
              access any of the third party websites linked to the Services, you
              do so entirely at your own risk and subject to the terms and
              conditions of use for such websites.The Services may also contain
              links to other sites operated by or for the Provider.&nbsp; Please
              check the terms of use and privacy policy applicable to each site
              you visit, as they may vary due to the nature of the sites and who
              is permitted to access them.
            </p>
            <br />
            <p>18.&nbsp;Termination of Your Access to the Services</p>
            <br />
            <p>
              the Provider, in its sole and absolute discretion, may terminate,
              suspend, and/or limit your access to the Services, and may revoke
              your User ID and Password or limit which individuals may use the
              Services through your User ID and Password, without notice or
              liability, at any time. Further, the Provider will investigate
              notices of copyright infringement and take appropriate action,
              including, but not limited to, termination of access to the
              Services and revocation of the User ID and Password of anyone who
              repeatedly infringes upon the copyright rights of others or
              violates these Terms of Service.Termination, suspension or
              limitation of your right to access the Services shall not affect
              or terminate your obligations or the rights and licenses granted
              to the Provider by you under these Terms of Service, all of which
              survive any such termination, suspension or limitation.
            </p>
            <br />
            <p>19.&nbsp;Electronic Communications</p>
            <br />
            <p>
              By using the Services, you are consenting to receive
              communications from the Provider electronically with respect to
              your use of the Services and its contents, and you are agreeing
              that the Provider may communicate with you with respect to your
              use of the Services and its contents via email, by sharing notices
              with the Services, and by other means of communication, including
              but not limited to electronic mail. You specifically authorize the
              Provider to contact you via email in the event the Provider or the
              Provider Affiliate is required by law to notify you of a data
              security incident or data breach.
            </p>
            <br />
            <p>20.&nbsp;Third Party Rights</p>
            <br />
            <p>
              The provisions of these Terms of Service are for the benefit of
              the Provider and its affiliates and each of these entities shall
              have the right to assert and enforce these provisions directly
              against you on its own behalf. Otherwise, there are no third party
              beneficiaries of these Terms of Service.
            </p>
            <br />
            <p>21. Forward-Looking Statements</p>
            <br />
            <p>
              Portions of the Services may contain forward-looking statements
              concerning the Provider or the financial performance of the
              Provider. These forward-looking statements only speak as of the
              date indicated or, if no such date is indicated, as of the date
              such statements are shared to the Services. <br />These statements
              are only predictions and actual events or results may differ
              materially. Please read the Provider’s financial filings,
              including its annual, periodic and current reports, as amended,
              for additional information about the risks, uncertainties and
              other factors that could cause actual results to differ materially
              from those in the forward-looking statements.&nbsp;<br />PROVIDER
              EXPRESSLY DISCLAIMS ANY OBLIGATION TO UPDATE, AMEND, SUPPLEMENT OR
              OTHERWISE REVISE ANY FORWARD-LOOKING STATEMENTS CONTAINED ON THIS
              SERVICES TO REFLECT EVENTS OR CIRCUMSTANCES THAT MAY ARISE AFTER
              THE DATE INDICATED, EXCEPT AS OTHERWISE REQUIRED BY APPLICABLE
              LAW.
            </p>
            <br />
            <p>22. Governing Law and Venue</p>
            <br />
            <p>
              These Terms of Service, your use of the Services, and all related
              matters shall be governed and construed in accordance with the
              laws of the State of Texas without application of its conflicts of
              laws principles. Except as may be expressly agreed otherwise by
              the Provider and you, you agree that any dispute between the
              Provider or any of its affiliates, on the one hand, and you, on
              the other hand, arising from, connected with or relating to the
              Services, your use of the Services, these Terms of Service or any
              related matters shall be brought exclusively in a federal or state
              court having jurisdiction thereof within the State of Texas. The
              Provider and you waive any objection to such venue based on lack
              of personal jurisdiction or inconvenient forum.
            </p>
            <br />
            <p>23.&nbsp;Waiver; Severability</p>
            <br />
            <p>
              Failure to insist upon or enforce strict performance of any
              provision of these Terms of Service shall not be construed as a
              waiver of any provision or right contained herein. Neither the
              course of conduct between you and us nor trade practice shall act
              to modify any provision of these Terms of Service.If any provision
              of these Terms of Service is deemed invalid, void or
              unenforceable, that invalid, void or unenforceable provision shall
              be deemed severable from these Terms of Service and shall not
              affect the validity and enforceability of the remaining
              provisions, which will continue in full force and effect.Any
              rights not expressly granted by these Terms of Service are
              reserved to the Provider.
            </p>
            <br />
            <p>24.&nbsp;Reliance on Information Shared</p>
            <br />
            <p>
              The information presented on or through the Services is made
              available solely for general information purposes. We do not
              warrant the accuracy, completeness, or usefulness of this
              information. Any reliance you place on such information is
              strictly at your own risk. We disclaim all liability and
              responsibility arising from any reliance placed on such materials
              by you or any other visitor to the Services, or by anyone who may
              be informed of any of its contents.The Services may include
              content provided by third parties, including materials provided by
              other users, bloggers, and third party licensors, syndicators,
              aggregators, and/or reporting services. All statements and/or
              opinions expressed in these materials, and all articles and
              responses to questions and other content, other than the content
              provided by the Provider, are solely the opinions and the
              responsibility of the person or entity providing those materials.
              These materials do not necessarily reflect the opinion of the
              Provider. We are not responsible, or liable to you or any third
              party, for the content or accuracy of any materials provided by
              any third parties.
            </p>
            <br />
            <p>25.&nbsp;Changes to the Services</p>
            <br />
            <p>
              We may update the content regarding the Services from time to
              time, but its content is not necessarily complete or up-to-date.
              Any of the material regarding the Services may be out of date at
              any given time, and we are under no obligation to update such
              material.
            </p>
            <br />
            <p>
              26.&nbsp;Information About You and Your Visits to the Services
            </p>
            <br />
            <p>
              All information we collect regarding the Services is subject to
              our&nbsp;Privacy Policy. By using the Services, you consent to all
              actions taken by us with respect to your information in compliance
              with the&nbsp;Privacy Policy.
            </p>
            <br />
            <p>27.&nbsp;Limitation on Time to File Claims</p>
            <br />
            <p>
              ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR
              RELATING TO THESE TERMS OF SERVICE OR THE SERVICES MUST BE
              COMMENCED WITHIN THIRTY (30) DAYS, OR AS LIMITED BY APPLICABLE
              LAW, AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF
              ACTION OR CLAIM IS PERMANENTLY BARRED.
            </p>
            <br />
            <p>28.&nbsp;Assignment; Entire Agreement</p>
            <br />
            <p>
              The provisions of these Terms of Service will inure to the benefit
              of and be binding upon each of the Provider and its affiliates and
              each of their respective successors and assigns and you and your
              heirs, executors, administrators, successors, permitted assigns,
              and personal representatives.<br />The Provider may assign its
              rights and duties under these Terms of Service to any other person
              or entity at any time without your consent and without notice to
              you. You may not assign these Terms of Service, nor may you
              assign, license or delegate your rights, licenses or privileges
              provided hereunder. These Terms of Service, the Revised Terms, any
              other policies, guidelines, requirements, disclaimers and
              requirements shared regarding the Services by the Provider,
              including the&nbsp;Privacy Policy, except as set forth in the
              immediately following sentence below, comprise the entire
              agreement between you and the Provider regarding your use of the
              Services and its contents. Notwithstanding the foregoing, all
              terms and conditions of the Provider Contracts that relate to your
              use of the Services (including, without limitation, any
              restrictions, preconditions, limitations or requirements on or
              relating to such use) shall be in addition to and not in
              substitution of, any of the terms contained in these Terms of
              Service or the Revised Terms.
            </p>
            <br />
            <p>29.&nbsp;Questions or Concerns</p>
            <br />
            <p>
              The Services are operated by the Provider or its Affiliates. All
              notices of copyright infringement claims should be sent to the
              copyright agent designated below in the manner and by the means
              set out therein. All other feedback, comments, requests for
              technical support, and other communications relating to the
              Services should be directed to: &nbsp;<a
                href="mailto:info@logitydispatch.com"
                >info@logitydispatch.com</a
              >
            </p>
            <br />
            <p>
              30.&nbsp;DateThe date the Terms of Service was last modified is
              stated at the top of this document<br />
            </p>
          </div>
        </div>
      </section>
    </main>

    <%- include("include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
