<section class="blog section">
  <div class="container">
    <div class="title-top">
      <a href="/blog" class="title blog-title">Blog</a>
      <a href="/blog" class="title-more">
        <p>All news</p>
        <span class="icon-plus title-more-icon title-icon-plus"></span>
        <span class="icon-minuse title-more-icon"></span>
      </a>
    </div>
    <div class="blog-row">
      <% articles.forEach(function(article) { %>
      <a href="/blog/<%= article.url %>" class="blog-col">
        <div class="sp"></div>
        <img
          class="blog-col-img"
          src="/images/<%- article.image %>"
          alt="img"
        />
        <div class="blog-col-text"><%- article.name %></div>
        <div class="blog-col-subtext"><%- article.when_created %></div>
        <div class="blog-col-more-wrap">
          <div class="blog-col-more">Read more</div>
          <div class="blog-col-arrow">
            <span class="icon-chevron-right"></span>
          </div>
        </div>
      </a>
      <% }); %>
    </div>
  </div>
</section>
