<section class="can section">
  <div class="container">
    <a href="/trucks" class="can-title title">
      <p>Who can</p>
      <p>work with us</p>
    </a>
    <div class="can-row">
      <% trucks.forEach(function(truck) { %>
      <a href="/trucks/<%- truck.url %>" class="can-col">
        <div class="can-col-img-wrapper">
          <img
            class="can-col-img"
            src="/img/trucks/<%- truck.image %>.jpg"
            alt="img"
          />
        </div>
        <div class="can-col-text">
          <div class="can-col-name"><%- truck.name %></div>
          <span class="icon-chevron-thin-right can-col-arrow"></span>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</section>
