<section class="section faq">
  <div class="container">
    <div class="title faq-title">FAQ</div>
    <ul class="faq-list">
      <li class="faq-li">
        <div class="faq-li-top">
          <p>What will Logity Dispatch services do for my business?</p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          Very simply, we buy you time so you can make more money. Most
          owners-operators get into this business to drive loads and make money,
          then find themselves bogged down by all the paperwork, regulatory
          requirements, and negotiations — things that keep you from doing what
          actually makes you money. By taking on all the business support
          activities you would like to offload, Logity Dispatch allows your
          business to run efficiently — and for you to take on more loads. In
          addition, when it comes to negotiating, we aim to get you the best
          rates for your loads, so you get to put more money in your pocket.
        </div>
      </li>
      <li class="faq-li">
        <div class="faq-li-top">
          <p>
            Isn’t it always easier and cheaper to hire an in-house dispatcher?
          </p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          Surprisingly, no. If you want to recruit capable and competent talent,
          you need to develop and undergo a pretty vigorous recruitment process,
          which takes time and — if you need the services of headhunters —
          money. Even if you find what you are looking for, you will most likely
          need to provide office space — yet another expenditure — and in some
          cases, further training. Meanwhile, as many of our clients have
          admitted, hiring Logity Dispatch turns out to be more cost-effective
          than even having one full-time dispatcher. Our industry expertise,
          networks, and experience make us the best at what we do.
        </div>
      </li>
      <li class="faq-li">
        <div class="faq-li-top">
          <p>
            Do I have to enter into a long-term contract with Logiy Dispatch?
          </p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          Nope. You hire Logity Dispatch on a month-to-month basis. We don't
          make trucker drivers commit long-term upfront because we believe in
          earning your business. If you aren't happy, we aren't happy, so we'll
          work hard for you. But we also believe that all business owners should
          have the freedom to work with whomever they want. It's important for
          us to keep that freedom for you.
        </div>
      </li>
      <li class="faq-li">
        <div class="faq-li-top">
          <p>How do I sign up with you, and what do I need?</p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          Signing up with Logity Dispatch is a breeze since you can submit
          documents to us online.
          <br />
          <br />
          - First, you sign our Dispatch Carrier Agreement, a document that
          clearly sets out our responsibilities and our responsibilities. This
          is meant to protect both of us — it is not a long-term service
          contract by any means. Our services are month-to-month, and you are
          not penalized for discontinuing our service.
          <br />
          <br />
          - You will also need insurance that names Logity Dispatch as the
          certificate holder. This is common industry practice for shippers,
          dispatchers, and brokers — it just allows us to conduct business at
          your behest and on your behalf when you want us to. Make sure the
          insurance sets out liability as well as cargo coverage.
          <br />
          <br />
          - We also need the Carrier Set-Up Package and references for the
          shippers and brokers we work with and for our records. Your MC Permit
          and signed W9 form should be here as well.
          <br />
          <br />
          - At Logity Dispatch, we keep impeccable and accurate records — and
          always maintain compliance with all safety, regulatory, and industry
          requirements — so we also need a copy of the CDL for each driver we
          will be dispatching.
        </div>
      </li>
      <li class="faq-li">
        <div class="faq-li-top">
          <p>
            Do I have to be working under my own MC authority to hire Logity
            Dispatch?
          </p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          We work with owners-operators working under their own MC authorities —
          but also with carriers with company drivers.
        </div>
      </li>
      <li class="faq-li">
        <div class="faq-li-top">
          <p>Will you work with me if I’m new to the business?</p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          Absolutely. We love helping truck drivers and carriers in all stages
          of their careers. What we look for are keen, hardworking drivers,
          period. Realistically, if you are a new carrier, it may initially be
          harder for us to find you the best loads because most shippers and
          brokers prefer carriers with MC authorities more than six months to a
          year old. However, you can rest assured that Logity Dispatch will give
          it our all so you can make better money in your first year. Once you
          hit the one year milestone, access to better rates and loads will be
          even easier.
        </div>
      </li>
      <li class="faq-li">
        <div class="faq-li-top">
          <p>Can I choose Logity Dispatch services I want?</p>
          <div class="faq-icon">
            <span class="icon-plus"></span>
            <span class="icon-minuse"></span>
          </div>
        </div>
        <div class="faq-li-bottom">
          Yes. Many of our clients love our comprehensive service package —
          which includes dispatch, documentation, compliance, and all the
          business supports a carrier needs — but we also have clients who, say,
          just want assistance with documentation and paperwork. At Logity
          Dispatch, we believe our clients should have the freedom to do
          business as they see fit. After all, no one knows their business
          better than they do.
        </div>
      </li>
    </ul>
  </div>
</section>
