<section class="how section">
  <div class="container">
    <div class="title-top">
      <a href="/how-to-start" class="title how-title">How To Get Started</a>
      <a href="/how-to-start" class="title-more">
        <p>Read more</p>
        <span class="icon-plus title-more-icon title-icon-plus"></span>
        <span class="icon-minuse title-more-icon"></span>
      </a>
    </div>
    <div class="how-row">
      <div class="how-content">
        <div class="how-text">
          Logity Dispatch's job is to provide the best loads in the market for
          every driver. Our expert team ensures that drivers from any region and
          state get high-quality and best-paying loads.
        </div>
        <div class="how-list">
          <a href="/contact-us" class="how-item">
            <div class="how-item-text">
              01 - Fill out the form or call us: 302 425 92 99
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
          <a href="/how-to-start" class="how-item">
            <div class="how-item-text">
              02 - Upload your MC Authority, W9 Form, and Certificate of
              Insurance
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
          <a href="/how-to-start" class="how-item">
            <div class="how-item-text">
              03 - Sign the Dispatch Agreement completed by our team
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
          <a href="/how-to-start" class="how-item">
            <div class="how-item-text">
              04 - We are all set. Let's get to work
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="form-wrapper how-form"><%- include("_form") %></div>
    </div>
  </div>
</section>
