<section class="how section">
  <div class="container">
    <div class="title-top">
      <a href="/how-to-start" class="title how-title">How To Get Started</a>
      <a href="/how-to-start" class="title-more">
        <p>Read more</p>
        <span class="icon-plus title-more-icon title-icon-plus"></span>
        <span class="icon-minuse title-more-icon"></span>
      </a>
    </div>
    <div class="how-row">
      <div class="how-content">
        <div class="how-text">
          Logity Dispatch's job is to provide the best loads in the market for
          every driver. Our expert team ensures that drivers from any region and
          state get high-quality and best-paying loads.
        </div>
        <div class="how-list">
          <a href="/contact-us" class="how-item">
            <div class="how-item-text">
              01 - Fill out the form or call us: 302 425 92 99
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
          <a href="/how-to-start" class="how-item">
            <div class="how-item-text">
              02 - Upload your MC Authority, W9 Form, and Certificate of
              Insurance
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
          <a href="/how-to-start" class="how-item">
            <div class="how-item-text">
              03 - Sign the Dispatch Agreement completed by our team
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
          <a href="/how-to-start" class="how-item">
            <div class="how-item-text">
              04 - We are all set. Let's get to work
            </div>
            <div class="how-item-arrow-wrapper">
              <span class="icon-chevron-thin-right how-item-arrow"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="form-wrapper how-form">
        <form id="form" class="form">
          <div class="form-title">Contact us for free setup</div>
          <div class="form-inputs">
            <div class="form-name-wrapper">
              <label for="form-name">Full name</label>
              <input type="text" id="form-name" name="name" class="req input" />
            </div>
            <div class="form-number-wrapper">
              <label for="form-number">Phone number</label>
              <input
                type="tel"
                id="form-number"
                name="phone"
                class="req input"
              />
            </div>
            <div class="form-email-wrapper">
              <label for="form-email" class="email">Email</label>
              <input
                type="email"
                id="form-email"
                name="email"
                class="req input email"
              />
            </div>
          </div>
          <div class="form-agree">
            <input
              type="checkbox"
              id="form-check-how"
              name="check"
              class="req input input-checkbox"
            />
            <label class="label-checkbox" for="form-check-how">
              I have read and agree to
              <a
                style="color: blue; text-decoration: underline"
                href="/terms-of-service"
              >
                Terms of Service
              </a>
            </label>
          </div>
          <div class="form-button-wrapper">
            <button type="submit" class="form-button btn">Send Request</button>
          </div>
          <br />
          <div class="status"><p class="status-text"></p></div>
        </form>
      </div>
    </div>
  </div>
</section>
