<section class="reviews section">
  <div class="container">
    <div class="title-top">
      <a href="/testimonials" class="title rev-title">Testimonials</a>
      <a href="/testimonials" class="title-more">
        <p>All testimonials</p>
        <span class="icon-plus title-more-icon title-icon-plus"></span>
        <span class="icon-minuse title-more-icon"></span>
      </a>
    </div>
    <div class="rev-swiper swiper swiper-container">
      <div class="rev-wrapper swiper-wrapper">
        <div class="rev-slide swiper-slide">
          <div class="rev-img">
            <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
          </div>
          <div class="rev-slide-content">
            <div class="rev-slide-name">Mice Sountris</div>
            <div class="rev-slide-place">M&L Transport LLC, MC # 25167</div>
            <div class="rev-slide-desc">
              Logity Dispatch is Awesome - This company is everything a truck
              driver should expect from a dispatch company. They negotiate with
              the brokers to get great rates, they call you to offer loads for
              the next day and they handle getting revised rate confirmation for
              detention pay & lay overs. I'm glad to have them working for our
              company!
            </div>
            <div class="rev-slide-icon">"</div>
          </div>
        </div>
        <div class="rev-slide swiper-slide">
          <div class="rev-img">
            <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
          </div>
          <div class="rev-slide-content">
            <div class="rev-slide-name">Jay Sanders</div>
            <div class="rev-slide-place">Drive Logistics, MC # 1106770</div>
            <div class="rev-slide-desc">
              Place my trucking business in Logity Dispatch's hands and haven't
              needed another dispatcher since. Outstanding Communication, very
              knowledgeable of the business, and they don't break the bank on
              percentage. Worth way more than other companies charging 10+
              percent. Thank you, guys.
            </div>
            <div class="rev-slide-icon">"</div>
          </div>
        </div>
        <div class="rev-slide swiper-slide">
          <div class="rev-img">
            <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
          </div>
          <div class="rev-slide-content">
            <div class="rev-slide-name">Eric Freeman</div>
            <div class="rev-slide-place">MC # 104970</div>
            <div class="rev-slide-desc">
              Logity has been very good for my trucking company, very strong
              negotiators.
            </div>
            <div class="rev-slide-icon">"</div>
          </div>
        </div>
        <div class="rev-slide swiper-slide">
          <div class="rev-img">
            <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
          </div>
          <div class="rev-slide-content">
            <div class="rev-slide-name">Andrei Chirkov</div>
            <div class="rev-slide-place">
              Trucking Alliance LLC, MC # 125359
            </div>
            <div class="rev-slide-desc">
              We have been working with Logity Dispatch for a year now and I
              have nothing but good things to say. The service these guys
              provide is awesome and I don't need to waste my time searching for
              loads, billing and all that stuff. Communication, support, market
              knowledge are on high level and these guys worth the percentage
              they charge.
            </div>
            <div class="rev-slide-icon">"</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
