<footer class="footer">
  <img class="footer-bg" src="/img/main/footer/bg.jpg" alt="" />
  <div class="container">
    <div class="footer-top">
      <div class="sub-wrap">
        <div class="sub-text">
          The most useful articles, tips, and analysis for truckers. Twice a
          month.
        </div>
        <form class="form-subscribe">
          <div class="sub-input-wrap">
            <input
              class="input-subscribe email input req-sub"
              type="email"
              placeholder="Email adress"
            />
            <button type="submit" class="sub-btn btn">Subscribe</button>
          </div>
          <br />
          <div class="status status-subscribe">
            <p class="status-text status-text-subscribe"></p>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-mid">
      <div class="fot-mid-row">
        <div class="fot-mid-col">
          <div class="fot-mid-title">Links</div>
          <div class="fot-mid-list">
            <a href="/about" class="fot-mid-item">About us</a>
            <a href="/contact-us" class="fot-mid-item">Contact us</a>
            <a href="/services" class="fot-mid-item">Services & Pricing</a>
            <a href="/trucks" class="fot-mid-item">Truck types</a>
            <a href="/terms-of-service" class="fot-mid-item"
              >Terms of service</a
            >
          </div>
        </div>
        <div class="fot-mid-col">
          <div class="fot-mid-title">FAQ</div>
          <div class="fot-mid-list">
            <a href="/how-to-start" class="fot-mid-item">How to start</a>
            <a href="/testimonials" class="fot-mid-item">Testimonials</a>
            <a href="/blog" class="fot-mid-item">Blog</a>
            <a href="/privacy-policy" class="fot-mid-item">Privacy policy</a>
          </div>
        </div>
        <div class="fot-mid-col">
          <div class="fot-mid-title">Contacts</div>
          <div class="fot-mid-list">
            <% if (contacts) { %>
            <a href="#a" class="fot-mid-item">
              <span class="icon-mobile2 fot-mid-mobile fot-mid-icon"></span>
              <div><%- contacts.tel %></div>
            </a>
            <a href="#a" class="fot-mid-item">
              <span class="icon-email fot-mid-email fot-mid-icon"></span>
              <div><%- contacts.email %></div>
            </a>
            <a href="#a" class="fot-mid-item">
              <span class="icon-location-pin fot-mid-loc fot-mid-icon"></span>
              <div><%- contacts.location %></div>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="fot-rights">All Rights Reserved</div>
      <div class="fot-logo logo">LOGITY<br />Dispatch</div>
      <div class="fot-socials">
        <a href="#a" class="icon-messenger fot-messenger fot-bot-icon"></a>
        <a href="#a" class="icon-whatsapp fot-whatsapp fot-bot-icon"></a>
        <a href="#a" class="icon-twitter1 fot-twitter fot-bot-icon"></a>
        <a href="#a" class="icon-facebook2 fot-facebook fot-bot-icon"></a>
        <a href="#a" class="icon-youtub fot-youtube fot-bot-icon"></a>
        <a href="#a" class="icon-instagram fot-insta fot-bot-icon"></a>
      </div>
    </div>
  </div>
</footer>
<script src="/js/formSubscribe.js"></script>
