.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  gap: 10px;
  padding: 20px 5px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #939393;
  color: #212121;
}
@media (max-width: 1200px) {
  .navigation {
    gap: calc(
        5px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .navigation {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.navigation-item-home span {
  color: #74adc6;
  transition: color 0.2s ease;
}

.navigation-item-home span:hover {
  color: #147eac;
}

.about {
  padding-top: 70px;
}
@media (max-width: 1200px) {
  .about {
    padding-top: calc(
        35px + 35 *
          ((100vw - 320px) / 880)
      );
  }
}

.about-text {
  border-bottom: 1px solid #ababab;
  padding-bottom: 70px;
  line-height: 1.25;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .about-text {
    padding-bottom: calc(
        35px + 35 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .about-text {
    font-size: calc(
        14px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.what {
  padding-top: 70px;
}
@media (max-width: 1200px) {
  .what {
    padding-top: calc(
        35px + 35 *
          ((100vw - 320px) / 880)
      );
  }
}

.video-wrapper {
  border-bottom: 1px solid #939393;
  padding-bottom: 70px;
}
@media (max-width: 1200px) {
  .video-wrapper {
    padding-bottom: calc(
        35px + 35 *
          ((100vw - 320px) / 880)
      );
  }
}

.video-wrapper iframe {
  width: 900px;
  height: 506px;
}
@media (max-width: 1200px) {
  .video-wrapper iframe {
    width: calc(
        300px + 600 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .video-wrapper iframe {
    height: calc(
        168.75px + 337.25 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 575px) {
  .video-wrapper iframe {
    width: 100%;
  }
}

.absec {
  padding-bottom: 70px;
}
@media (max-width: 1200px) {
  .absec {
    padding-bottom: calc(
        35px + 35 *
          ((100vw - 320px) / 880)
      );
  }
}

.absec-text {
  font-size: 17px;
}
@media (max-width: 1200px) {
  .absec-text {
    font-size: calc(
        14px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}

.absec-btns {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1200px) {
  .absec-btns {
    gap: calc(
        5px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .absec-btns {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) and (max-width: 1200px) {
  .absec-btns {
    margin-bottom: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}

.absec-contact,
.absec-number,
.absec-email {
  border-radius: 3px;
  font-weight: 700;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 22px;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    margin-top: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    margin-bottom: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    font-size: calc(
        14px + 8 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    margin: 0 auto;
    width: 75%;
  }
}
@media (max-width: 325px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    width: 100%;
  }
}

.absec-contact {
  background-color: #3390ec;
}

.absec-contact:hover {
  background-color: #2086ea;
}

.absec-number,
.absec-email {
  background-color: #fff;
}

.absec-number:hover,
.absec-email:hover {
  background-color: #3390ec;
}

.absec-map iframe {
  width: 100%;
  height: 400px;
}
@media (max-width: 1200px) {
  .absec-map iframe {
    height: calc(
        200px + 200 *
          ((100vw - 320px) / 880)
      );
  }
}
