.services-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (max-width: 1200px) {
  .services-row {
    gap: calc(
        10px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}

.services-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 15px;
  background: #efefef;
  overflow: hidden;
}
@media (max-width: 768px) {
  .services-col {
    border-radius: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
}

.services-col-content-reverse {
  order: 1;
}
@media (max-width: 768px) {
  .services-col-content-reverse {
    order: 2;
  }
}

.services-col-img-reverse {
  order: 2;
}
@media (max-width: 768px) {
  .services-col-img-reverse {
    order: 1;
  }
}

.services-col-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .services-col.reverse .services-col-img {
    order: 2;
  }
}

.services-col-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-col-content {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1200px) {
  .services-col-content {
    padding-top: calc(
        20px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .services-col-content {
    padding-bottom: calc(
        20px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .services-col-content {
    padding-left: calc(
        10px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .services-col-content {
    padding-right: calc(
        10px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}

.services-col-number,
.services-col-name {
  font-size: 30px;
  font-weight: 900;
}
@media (max-width: 1200px) {
  .services-col-number,
  .services-col-name {
    font-size: calc(
        16px + 14 *
          ((100vw - 320px) / 880)
      );
  }
}

.services-col-name {
  padding-top: 15px;
  padding-bottom: 25px;
}
@media (max-width: 1200px) {
  .services-col-name {
    padding-top: calc(
        5px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .services-col-name {
    padding-bottom: calc(
        15px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}

.services-col-desc {
  font-size: 16px;
  padding-bottom: 25px;
}
@media (max-width: 1200px) {
  .services-col-desc {
    font-size: calc(
        13px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .services-col-desc {
    padding-bottom: calc(
        15px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}

.title-more {
  display: inline-flex;
  justify-content: flex-start;
  gap: 25px;
  font-size: 20px;
  font-weight: 900;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .title-more {
    font-size: calc(
        14px + 6 *
          ((100vw - 320px) / 880)
      );
  }
}

.title-more-icons {
  position: relative;
  display: flex;
  width: 22px;
  margin: -1px 0 0;
  align-items: center;
  justify-content: center;
}

.title-more p,
.title-more span {
  color: #df3f40;
  transition: all 0.2s ease;
}

.title-more-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -47%);
  font-size: 20px;
  font-weight: 900;
}
@media (max-width: 1200px) {
  .title-more-icon {
    font-size: calc(
        14px + 6 *
          ((100vw - 320px) / 880)
      );
  }
}

.title-more:hover p,
.title-more:hover span {
  color: #d52525;
}

.title-more:hover .title-icon-plus {
  opacity: 0;
}

.title-icon-plus {
  opacity: 1;
}

.form {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .form {
    padding-top: calc(
        15px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form {
    padding-bottom: calc(
        15px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form {
    padding-right: calc(
        10px + 40 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form {
    padding-left: calc(
        10px + 40 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form {
    border-radius: calc(
        5px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .form {
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .form {
    width: 90%;
  }
}

.form-title {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .form-title {
    font-size: calc(
        16px + 8 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-inputs {
  margin-top: 25px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .form-inputs {
    margin-top: calc(
        10px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-inputs {
    margin-bottom: calc(
        10px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-inputs {
    gap: calc(
        0px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-name-wrapper,
.form-number-wrapper,
.form-email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9137254902);
}
@media (max-width: 1200px) {
  .form-name-wrapper,
  .form-number-wrapper,
  .form-email-wrapper {
    gap: calc(
        2px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-name-wrapper,
  .form-number-wrapper,
  .form-email-wrapper {
    padding: calc(
        5px + 0 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-name-wrapper,
  .form-number-wrapper,
  .form-email-wrapper {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-name-wrapper input,
.form-number-wrapper input,
.form-email-wrapper input {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  padding: 10px;
  background: #f3f4f5;
  border: unset;
  outline: unset;
  border-radius: 2px;
}
@media (max-width: 1200px) {
  .form-name-wrapper input,
  .form-number-wrapper input,
  .form-email-wrapper input {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-name-wrapper input,
  .form-number-wrapper input,
  .form-email-wrapper input {
    padding: calc(
        7px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-name-wrapper label,
.form-number-wrapper label,
.form-email-wrapper label {
  cursor: unset;
  pointer-events: none;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .form-name-wrapper label,
  .form-number-wrapper label,
  .form-email-wrapper label {
    font-size: calc(
        12px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-name-wrapper input:focus,
.form-number-wrapper input:focus,
.form-email-wrapper input:focus {
  background: #e8f0fe;
}

.input.satisfactory {
  background: #e8f0fe;
}

.form-agree {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1200px) {
  .form-agree {
    margin-top: calc(
        12px + 8 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-agree {
    margin-bottom: calc(
        12px + 8 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-agree {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-agree.error .label-checkbox::before {
  background: rgba(255, 0, 0, 0.1);
}

.form-agree input {
  width: 20px;
  height: 20px;
  font-size: 17px;
  cursor: pointer;
}

.input-checkbox {
  display: none;
}

.label-checkbox {
  cursor: default;
  pointer-events: none;
  position: relative;
  padding: 0 0 0 35px;
}

.label-checkbox a {
  color: #0000ff;
  text-decoration: underline;
  pointer-events: all;
}

.label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  pointer-events: all;
  border-radius: 3px;
  border: 3px solid #adadad;
  transition: all 0.2s ease;
}

.label-checkbox::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  background-color: #3390ec;
  transform: scale(0);
  transition: all 0.1s ease;
}

.input-checkbox:checked + .label-checkbox::after {
  transform: scale(1);
}

.form-button {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .form-button {
    padding-right: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-button {
    padding-left: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-button {
    padding-top: calc(
        10px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-button {
    padding-bottom: calc(
        10px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-button {
    font-size: calc(
        16px + 6 *
          ((100vw - 320px) / 880)
      );
  }
}

.input {
  border-radius: 2px;
  transition: all 0.1s ease;
}

.input.error {
  background: rgba(255, 0, 0, 0.1);
}

.status {
  position: relative;
}

.status-text {
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: -7px;
  text-align: center;
  font-weight: 700;
  color: #2086ea;
  transition: all 0.4s ease;
}
@media (max-width: 1200px) {
  .status-text {
    font-size: calc(
        13px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}

.status-text.remove {
  opacity: 0;
}

.email:required {
  font-size: 50px;
}

.nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #181818;
  border-bottom: 1px solid #2f2f2f;
  height: 60px;
  z-index: 90;
  transition: all 0.2s ease;
}
@media (max-width: 992px) {
  .nav {
    height: 50px;
  }
}

.nav.active {
  height: 100vh;
  background: rgba(24, 24, 24, 0.97);
  overflow: hidden;
}

.nav-row {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 60px;
  gap: 40px;
}
@media (max-width: 1200px) {
  .nav-row {
    gap: calc(
        8px + 32 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 992px) {
  .nav-row {
    height: 50px;
  }
}

.logo {
  align-self: baseline;
  opacity: 0.9;
}

.logo-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 80px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  transform: translate(-5px, 5px);
}
@media (max-width: 992px) {
  .logo-link {
    transform: translate(-5px, 3px);
    width: 70px;
    height: 44px;
    border-radius: 8px;
  }
}
@media (max-width: 325px) {
  .logo-link {
    transform: translate(0, 3px);
  }
}

.logo-link img {
  right: 0;
  object-fit: cover;
  position: absolute;
  width: 110%;
  height: 100%;
  transform: rotate(-4deg);
  margin-right: -6px;
  pointer-events: none;
}
@media (max-width: 992px) {
  .logo-link img {
    width: 105%;
    margin-right: -2px;
  }
}

.logo-text {
  font-size: 40px;
  font-weight: 900;
  background: #c94a4a;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.logo-subtext {
  font-size: 30px;
  background: rgb(116, 173, 198);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 60px;
}

.nav-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav.active .nav-content {
  font-size: 22px;
  position: absolute;
  right: 40px;
  top: 100px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .nav.active .nav-content {
    font-size: calc(
        18px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.nav-item {
  position: relative;
  transition: color 0.2s ease;
}
@media (max-width: 992px) {
  .nav-item {
    padding: 20px 5px;
  }
}

.nav-link:hover {
  color: #74adc6;
}

.nav-link {
  padding: 20px 5px;
  transition: all 0.2s ease;
}
@media (max-width: 992px) {
  .nav-link {
    padding: 10px 0;
  }
}

.nav-item:hover .nav-subcontent {
  opacity: 1;
  pointer-events: all;
}

.nav-text.active {
  color: #74adc6;
}

.nav-contact-link {
  font-size: 22px;
}
@media (max-width: 1200px) {
  .nav-contact-link {
    font-size: calc(
        13px + 9 *
          ((100vw - 320px) / 880)
      );
  }
}

.nav-contact-link span {
  color: rgb(116, 173, 198);
  transition: color 0.2s ease;
}

.nav-contact-link span:hover {
  color: #147eac;
}

.nav-subcontent {
  position: absolute;
  top: 41px;
  left: -25px;
  width: max-content;
  display: flex;
  flex-direction: column;
  background: #181818;
  color: #74adc6;
  border-radius: 0 0 5px 5px;
  padding: 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .nav-subcontent {
    left: calc(
        -10px + -15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 992px) {
  .nav-subcontent {
    display: none;
  }
}

.nav-subcontent-item {
  padding: 17px 35px;
  transition: all 0.2s ease;
}

.nav-subcontent-item:hover {
  background: #212121;
}

.nav-subcontent-item.active {
  background: #212121;
}

.menu-bg.active span {
  opacity: 0;
}

.menu-bg.active .menu::after {
  background: #fff;
  bottom: 16px;
  left: 4px;
  transform: rotate(45deg);
}

.menu-bg.active .menu::before {
  background: #fff;
  top: 16px;
  left: 4px;
  transform: rotate(-45deg);
}

.menu-bg {
  cursor: pointer;
  display: none;
  padding: 5px;
  transform: translate(5px, 0);
}

.menu {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu span {
  position: absolute;
  background-color: #000;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  left: 2px;
  top: 16px;
  transition: all 0.3s ease;
  background: #fff;
}

.menu::before,
.menu::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  left: -8px;
  background: #fff;
  transition: all 0.3s ease;
}

.menu::before {
  top: 5px;
}

.menu::after {
  bottom: 5px;
}

.note-frame {
  color: #212121;
  font-family: "Gilroy";
}

.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable {
  padding: 10px 20px;
}

.note-modal-backdrop {
  display: none !important;
}

.note-modal-content {
  margin-top: 120px;
}
@media (max-width: 1200px) {
  .note-modal-content {
    margin-top: calc(
        90px + 30 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .note-modal-content {
    margin-top: 100px;
  }
}
@media (max-width: 768px) and (max-width: 1200px) {
  .note-modal-content {
    margin-top: calc(
        90px + 10 *
          ((100vw - 320px) / 880)
      );
  }
}

.note-editable {
  height: 225px;
  background-color: #fff;
  transition: all 0.1s ease;
}

.form-input-wrapper.satisfactory .input,
.form-input-wrapper.satisfactory .note-editable {
  background-color: #e8f0fe;
}

.form-input-wrapper.error .input,
.form-input-wrapper.error .note-editable {
  background-color: rgba(255, 0, 0, 0.1);
}

p {
  margin: 0;
}

body {
  position: relative;
  font-family: "Gilroy";
  overflow-x: hidden;
  background: #d9dbde;
  color: #212121;
  line-height: unset;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 325px) {
  .container {
    padding: 0 10px;
  }
}

.nav.active {
  z-index: 105;
}

.admin-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(3px) brightness(0.3);
}

.section-head {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 0 20px;
}

.title {
  font-size: 26px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .title {
    font-size: calc(
        18px + 8 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-title {
  margin: 0 0 20px;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1200px) {
  .section {
    padding-top: calc(
        75px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .section {
    padding-bottom: calc(
        75px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}

.nav-content {
  justify-content: space-around;
}

.nav-item {
  padding: 0;
}

.nav-text {
  padding: 20px 5px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}
@media (max-width: 992px) {
  .nav-text {
    padding: 10px 5px;
  }
}

.nav-text:hover {
  color: #74adc6;
}

.admin-users-active,
.admin-services-active,
.admin-trucks-active,
.admin-articles-active,
.admin-contacts-active {
  color: #74adc6;
}

.users-invited {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1200px) {
  .users-invited {
    padding-top: calc(
        75px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .users-invited {
    padding-bottom: calc(
        75px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}

.users-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0 0 15px;
}
@media (max-width: 768px) {
  .users-list {
    padding: 0 0 0 5px;
  }
}
@media (max-width: 325px) {
  .users-list {
    padding: 0;
  }
}

.users-list-up {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  font-weight: 700;
  color: #181818;
  border-bottom: 1px solid #181818;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 1200px) {
  .users-list-up {
    padding-top: calc(
        4px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .users-list-up {
    padding-bottom: calc(
        4px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .users-list-up {
    display: none;
  }
}

.user-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding-left: 4px;
  color: #242424;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #9f9f9f;
}
@media (max-width: 1200px) {
  .user-content {
    padding-top: calc(
        2px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .user-content {
    padding-bottom: calc(
        2px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .user-content {
    grid-template-columns: 1fr;
    padding-left: 2px;
  }
}
@media (max-width: 325px) {
  .user-content {
    font-size: 10px;
  }
}

.user-content-invite {
  grid-template-columns: 1fr;
}

.user-content-subscribe {
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .user-content-subscribe {
    padding: 9px 0 9px 2px;
  }
}

.user-label-up {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .user-label-up {
    font-size: calc(
        11px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}

.user-label {
  display: none;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .user-label {
    font-size: calc(
        11px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .user-label {
    display: block;
  }
}

.user-label-invite {
  display: block;
}

@media (max-width: 768px) {
  .user-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.user-item-invite {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-data {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .user-data {
    font-size: calc(
        14px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.user-delete {
  justify-self: end;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  color: #df3f40;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .user-delete {
    position: absolute;
    justify-self: end;
  }
}

.user-delete-invite {
  position: absolute;
  justify-self: end;
}

.user-delete:hover {
  background: rgba(223, 63, 64, 0.08);
}

.icon-delete-user {
  pointer-events: none;
}

.column.active .popup-wrapper {
  opacity: 1;
  pointer-events: all;
}

.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 95;
  transition: all 0.2s ease;
}

.popup {
  width: 280px;
  background: #f7f7f7;
  color: #212121;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 1200px) {
  .popup {
    width: calc(
        250px + 30 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .popup {
    border-radius: calc(
        7px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .popup {
    padding: calc(
        15px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}

.popup-title {
  font-size: 17px;
  font-weight: 700;
}

.popup-user {
  margin: 10px 0;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .popup-user {
    font-size: calc(
        15px + 1 *
          ((100vw - 320px) / 880)
      );
  }
}

.popup-question {
  margin: 0 0 10px 0;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .popup-question {
    font-size: calc(
        15px + 1 *
          ((100vw - 320px) / 880)
      );
  }
}

.popup-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 1200px) {
  .popup-row {
    gap: calc(
        5px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}

.popup-text {
  width: 50%;
  text-align: center;
}

.popup-cancel {
  cursor: pointer;
  color: #3390ec;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 15px;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .popup-cancel {
    font-size: calc(
        15px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.popup-cancel span {
  pointer-events: none;
}

.popup-cancel:hover {
  background: rgba(51, 144, 236, 0.08);
}

.popup-delete {
  color: #df3f40;
  cursor: pointer;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 15px;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .popup-delete {
    font-size: calc(
        15px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.popup-delete:hover {
  background: rgba(223, 63, 64, 0.08);
}

.popup-delete span {
  pointer-events: none;
}

.form-wrapper {
  padding: 0 15px;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 95;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .form-wrapper {
    padding-top: calc(
        75px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-wrapper {
    padding-bottom: calc(
        75px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-wrapper.put {
  opacity: 1;
  pointer-events: all;
}

.form-wrapper.add {
  opacity: 1;
  pointer-events: all;
}

.form {
  width: 75%;
  max-width: 1200px;
}
@media (any-hover: hover) {
  .form {
    margin: 0 0 0 22px;
  }
}
@media (max-width: 768px) {
  .form {
    width: 80%;
  }
}
@media (max-width: 525px) {
  .form {
    width: 100%;
  }
}

.form-title {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .form-title {
    font-size: calc(
        16px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-password-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9137254902);
}
@media (max-width: 1200px) {
  .form-password-wrapper {
    gap: calc(
        2px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-password-wrapper {
    padding: calc(
        5px + 0 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .form-password-wrapper {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none;
  background-color: unset;
  color: unset;
}

.input {
  display: block;
  width: 75%;
  margin: 2px 0 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 7px;
  background: #f3f4f5;
  border: unset;
  border-radius: 2px;
  outline: #fff;
  font-family: "Gilroy", sans-serif;
  transition: all 0.1s ease;
}
@media (max-width: 992px) {
  .input {
    width: 100%;
  }
}

.note-editor {
  transition: all 0.2s ease;
}

.input-id-put {
  pointer-events: none;
}

.label {
  text-align: start;
  color: #212121;
  cursor: unset;
  pointer-events: none;
  display: block;
  margin: 10px 0 0;
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .label {
    font-size: calc(
        12px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.input:focus {
  background: #e8f0fe;
  outline: 1px solid #d2e3eb;
}

.bttn {
  font-size: 17px;
  font-weight: 700;
  background: #3390ec;
  display: flex;
  align-items: center;
  padding: 12.5px 40px;
  margin: 20px 0 0 0;
  transition: all 0.2s ease;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .bttn {
    font-size: calc(
        14px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}

.bttn:hover {
  background: #2086ea;
}

.form-btns-row {
  display: flex;
  gap: 10px;
}

.form-cancel {
  background-color: #dd5959;
}

.form-cancel:hover {
  background-color: #df3f40;
}

.status-text {
  left: unset;
  right: -15px;
  top: -30px;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .status-text {
    font-size: calc(
        20px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.textarea {
  width: 100%;
  max-width: 100%;
  font-family: "Gilroy", sans-serif;
}

.add-bttn {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 40;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .add-bttn {
    font-size: calc(
        15px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.add-bttn:hover {
  background: #2086ea;
}

.services-col {
  position: relative;
}

.column.bg .services-col-bg {
  background-color: rgba(0, 0, 0, 0.15);
}

.services-col-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  transition: all 0.2s ease;
}

.services-col-content {
  pointer-events: none;
}

.option-wrapper {
  position: absolute;
  right: 15px;
  top: 15px;
}

.option-wrapper.active .option-bg {
  opacity: 1;
  pointer-events: all;
  z-index: 101;
}

.option-wrapper.active .option {
  background: #fff;
  border-radius: 10px;
  z-index: 101;
}

.option-wrapper.active .option-content {
  opacity: 1;
  pointer-events: all;
}

.option-wrapper.active .option-icon {
  opacity: 0;
}

.option-wrapper.active .option-close {
  opacity: 1;
}

.option {
  position: relative;
  z-index: 85;
}

.icon-dots-three-vertical {
  pointer-events: none;
}

.option-icon-open-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  top: -2px;
  right: -2px;
  color: #2f2f2f;
  border: 1px solid rgba(0, 0, 0, 0.2078431373);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.option-icon-open-close:hover {
  color: #212121;
}

.option-icon,
.option-close {
  position: absolute;
  transition: all 0.2s ease;
  pointer-events: none;
}

.option-close {
  opacity: 0;
  color: #212121;
  transform: rotate(45deg);
}

.option-content {
  padding: 40px 5px 5px;
  opacity: 0;
  pointer-events: none;
  width: 150px;
  font-size: 18px;
  color: #212121;
  font-weight: 600;
  transition: all 0.2s ease;
}

.option-item-wrapper {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
  gap: 10px;
  transition: all 0.2s ease;
}

.option-item-wrapper:hover {
  background: rgba(33, 33, 33, 0.08);
}

.option-delete-wrapper {
  color: #df3f40;
}

.option-delete-wrapper:hover {
  background: rgba(223, 63, 64, 0.08);
}

.option-icon-close {
  transform: rotate(45deg);
}

.option-edit,
.icon-edit-3 {
  pointer-events: none;
}

.option-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.blog-title {
  color: #181818;
}

.blog-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  GAP: 10px;
  color: #fff;
}
@media (max-width: 1200px) {
  .blog-row {
    GAP: calc(
        5px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 992px) {
  .blog-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .blog-row {
    grid-template-columns: 1fr;
  }
}

.blog-col {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .blog-col {
    min-height: calc(
        125px + 75 *
          ((100vw - 320px) / 880)
      );
  }
}

.sp {
  flex: 1 1 auto;
}

.blog-col-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  filter: brightness(0.6);
}

.blog-col-text {
  font-size: 16px;
  font-weight: 900;
  padding: 0 25px;
}
@media (max-width: 1200px) {
  .blog-col-text {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.blog-col-subtext {
  padding: 0 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .blog-col-subtext {
    padding-top: calc(
        5px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .blog-col-subtext {
    padding-bottom: calc(
        10px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .blog-col-subtext {
    font-size: calc(
        12px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.blog-col-more-wrap {
  padding: 0 25px;
  height: 0;
  opacity: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background: #3390ec;
  transition: all 0.3s ease;
}

.blog-col:hover .blog-col-more-wrap {
  height: 60px;
  opacity: 1;
}
@media (max-width: 1200px) {
  .blog-col:hover .blog-col-more-wrap {
    height: calc(
        35px + 25 *
          ((100vw - 320px) / 880)
      );
  }
}

.blog-col-more {
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .blog-col-more {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.blog-col-arrow {
  font-size: 25px;
  margin: 0 0 -5px;
}

.blog-col {
  text-decoration: none;
}

.form-wrapper {
  color: #212121;
}

.contacts-app-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contacts-app-form {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }
}
@media (max-width: 992px) and (max-width: 1200px) {
  .contacts-app-form {
    gap: calc(
        30px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}

.contacts-app-form.active .btns-form-save {
  opacity: 1;
  pointer-events: all;
}

.contacts-app-form.active .bttn-contacts-app-change {
  opacity: 0;
  pointer-events: none;
}

.contacts-app-form.active .contacts-app-row {
  pointer-events: all;
}

.form-location-wrapper label {
  cursor: unset;
  pointer-events: none;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .form-location-wrapper label {
    font-size: calc(
        12px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.contacts-app-form.active .form-email-wrapper input,
.contacts-app-form.active .form-number-wrapper input,
.contacts-app-form.active .form-location-wrapper input {
  background: #f3f4f5;
}

.contacts-app-form.active .form-email-wrapper input.error,
.contacts-app-form.active .form-number-wrapper input.error .contacts-app-form.active .form-location-wrapper input.error {
  background: rgba(255, 0, 0, 0.15);
}

.contacts-app-form.active .form-email-wrapper input.satisfactory,
.contacts-app-form.active .form-number-wrapper input.satisfactory .contacts-app-form.active .form-location-wrapper input.satisfactory {
  background: #e8f0fe;
}

.contacts-app-row {
  pointer-events: none;
}
@media (max-width: 475px) {
  .contacts-app-row {
    width: 100%;
  }
}

.form-location-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.9137254902);
}
@media (max-width: 1200px) {
  .form-location-wrapper {
    gap: calc(
        2px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-number-wrapper,
.form-email-wrapper,
.form-location-wrapper {
  flex-direction: row;
  align-items: center;
  margin: 0;
  display: grid;
  color: #212121;
  grid-template-columns: 75px 450px;
}
@media (max-width: 475px) {
  .form-number-wrapper,
  .form-email-wrapper,
  .form-location-wrapper {
    grid-template-columns: 50px 1fr;
    width: 100%;
  }
}

.input-tel-app,
.input-email-app,
.input-location-app {
  margin: 0;
}
@media (max-width: 475px) {
  .input-tel-app,
  .input-email-app,
  .input-location-app {
    width: 100%;
  }
}

.bttn-contacts-app {
  margin: 0;
  cursor: pointer;
  width: 150px;
  justify-content: center;
}
@media (max-width: 992px) {
  .bttn-contacts-app {
    width: 50%;
  }
}

.btns-form-save {
  position: absolute;
  right: 0;
  display: flex;
  gap: 10px;
  justify-content: end;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
@media (max-width: 992px) {
  .btns-form-save {
    flex-direction: row-reverse;
    right: unset;
    left: 0;
    bottom: 0;
    width: 425px;
  }
}
@media (max-width: 475px) {
  .btns-form-save {
    padding: 0;
    width: 100%;
  }
}

.label-contacts-app {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1200px) {
  .label-contacts-app {
    font-size: calc(
        14px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.form-email-wrapper input,
.form-number-wrapper input,
.form-location-wrapper input {
  font-size: 18px;
  font-weight: 600;
  background: rgba(243, 244, 245, 0.25);
}
@media (max-width: 1200px) {
  .form-email-wrapper input,
  .form-number-wrapper input,
  .form-location-wrapper input {
    font-size: calc(
        16px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}

.bttn-contacts-app-cancel {
  background-color: #dd5959;
}

.bttn-contacts-app-cancel:hover {
  background-color: #df3f40;
}

@media (max-width: 992px) {
  .bttn-contacts-app-change {
    width: 207.5px;
  }
}
@media (max-width: 475px) {
  .bttn-contacts-app-change {
    width: 50%;
  }
}

.status-contacts {
  position: absolute;
  right: 15px;
  bottom: -10px;
}
@media (max-width: 768px) {
  .status-contacts {
    right: unset;
  }
}

@media (max-width: 768px) {
  .status-text-contacts {
    right: unset;
    top: unset;
  }
}

@media (max-width: 992px) {
  /* NAV */
  .nav-row {
    justify-content: end;
  }
  .nav-content {
    display: none;
  }
  .nav-item {
    padding: 10px 5px;
    margin: 10px 0;
  }
  .nav-text {
    font-size: 22px;
  }
  .menu-bg {
    display: flex;
    justify-content: end;
  }
}
@media (max-width: 575px) {
  /* HEADER */
  .menu::before,
  .menu::after {
    width: 30px;
    left: 0;
  }
  .menu span {
    width: 30px;
    left: 10px;
  }
}
@media (max-width: 325px) {
  .nav.active .nav-content {
    font-size: 20px;
    right: 30px;
    top: 65px;
  }
}
