.absec {
  padding-bottom: 70px;
}
@media (max-width: 1200px) {
  .absec {
    padding-bottom: calc(
        35px + 35 *
          ((100vw - 320px) / 880)
      );
  }
}

.absec-text {
  font-size: 17px;
}
@media (max-width: 1200px) {
  .absec-text {
    font-size: calc(
        14px + 3 *
          ((100vw - 320px) / 880)
      );
  }
}

.absec-btns {
  display: flex;
  gap: 20px;
}
@media (max-width: 1200px) {
  .absec-btns {
    gap: calc(
        5px + 15 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 575px) {
  .absec-btns {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) and (max-width: 1200px) {
  .absec-btns {
    margin-bottom: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}

.absec-contact,
.absec-number,
.absec-email {
  border-radius: 3px;
  font-weight: 700;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 22px;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    margin-top: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    margin-bottom: calc(
        20px + 20 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    font-size: calc(
        14px + 8 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 575px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    margin: 0;
    width: 75%;
  }
}
@media (max-width: 325px) {
  .absec-contact,
  .absec-number,
  .absec-email {
    width: 100%;
  }
}

.absec-contact {
  background-color: #3390ec;
}

.absec-contact:hover {
  background-color: #2086ea;
}

.absec-number,
.absec-email {
  background-color: #fff;
}

.absec-number:hover,
.absec-email:hover {
  background-color: #3390ec;
}

.absec-map iframe {
  width: 100%;
  height: 400px;
}
@media (max-width: 1200px) {
  .absec-map iframe {
    height: calc(
        200px + 200 *
          ((100vw - 320px) / 880)
      );
  }
}

.brokerage-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .brokerage-row {
    gap: calc(
        20px + 30 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .brokerage-row {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 768px) {
  .brokerage-row {
    grid-template-columns: 1fr;
  }
}

.brokerage-title {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .brokerage-title {
    font-size: calc(
        16px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .brokerage-title {
    margin-bottom: calc(
        10px + 5 *
          ((100vw - 320px) / 880)
      );
  }
}
@media (max-width: 1200px) {
  .brokerage-title {
    padding-top: calc(
        6px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

.brokerage-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #3390ec;
}

.brokerage-item {
  padding: 0 0 3px 0;
}

.brokerage-icon-check {
  color: #3390ec;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .brokerage-icon-check {
    font-size: calc(
        16px + 4 *
          ((100vw - 320px) / 880)
      );
  }
}

@media (max-width: 768px) {
  .absec-btns {
    padding-bottom: 20px;
  }
}
