.nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #202020;
  border-bottom: 1px solid #252525;
  height: 60px;
  z-index: 90;
  transition: all 0.2s ease;
  @media (max-width: 992px) {
    height: 50px;
  }
}
.nav.active {
  height: 100vh;
  background: rgba(24, 24, 24, 0.97);
  overflow: hidden;
}
.nav-row {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 60px;
  @include adapt("gap", 40, 10, 1);
  @media (max-width: 992px) {
    height: 50px;
  }
}
.logo {
  align-self: baseline;
  opacity: 0.9;
}
.logo-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 80px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transform: translate(-5px, 5px);
  @media (max-width: 992px) {
    transform: translate(-5px, 3px);
    width: 70px;
    height: 44px;
    border-radius: 7px;
  }
  @media (max-width: 325px) {
    transform: translate(0, 3px);
  }
}
.logo-link img {
  right: 0;
  object-fit: cover;
  position: absolute;
  width: 110%;
  height: 100%;
  transform: rotate(-4deg);
  margin-right: -6px;
  pointer-events: none;
  @media (max-width: 992px) {
    width: 105%;
    margin-right: -2px;
  }
}
.nav-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav.active .nav-content {
  @include adapt("font-size", 22, 18, 1);
  position: absolute;
  top: 100px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  @media (max-width: 475px) {
    top: 80px;
  }
  @media (max-width: 325px) {
    top: 75px;
    font-size: 20px;
  }
}
.nav-item {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  transition: color 0.2s ease;
  @media (any-hover: none) or (max-width: 992px) {
    width: 100%;
  }
}
.nav-item.active {
  background: #252525;
}
.nav-item.active .nav-link {
  color: #3390ec;
}
.nav-item.sub-active .nav-link {
  background: #252525;
}
.nav-link:hover {
  color: #3390ec;
  background: #252525;
}
.nav-link {
  flex: 1 1 auto;
  text-align: center;
  padding: 19px 0;
  transition: all 0.2s ease;
  @media (any-hover: none) or (max-width: 992px) {
    padding: 20px 20px;
    text-align: end;
  }
  @media (max-width: 768px) {
    padding: 15px 15px;
  }
  @media (max-width: 325px) {
    padding: 10px 10px;
  }
}
.nav-item:hover .nav-subcontent {
  opacity: 1;
  pointer-events: all;
}
.nav-text.active {
  color: #3390ec;
}
.nav-contact-link {
  @include adapt("font-size", 22, 13, 1);
}
.nav-contact-link span {
  color: #3390ec;
  transition: color 0.2s ease;
}
.nav-contact-link span:hover {
  color: #2086ea;
}

// SUBCONTENT

.nav-subcontent {
  position: absolute;
  top: 60px;
  left: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  background: #202020;
  border-radius: 0 0 5px 5px;
  padding: 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  @media (max-width: 992px) {
    display: none;
  }
}
.nav-subcontent-item {
  padding: 17px 35px;
  transition: all 0.2s ease;
}
.nav-subcontent-item:hover {
  background: #252525;
  color: #3390ec;
}
.nav-subcontent-item.active {
  background: #252525;
  color: #3390ec;
}

// MENU

.menu-bg.active span {
  opacity: 0;
}
.menu-bg.active .menu::after {
  background: #fff;
  bottom: 16px;
  right: 0;
  transform: rotate(45deg);
}
.menu-bg.active .menu::before {
  background: #fff;
  top: 16px;
  right: 0;
  transform: rotate(-45deg);
}
.menu-bg {
  cursor: pointer;
  display: none;
  padding: 5px;
  transform: translate(5px, 0);
}
.menu {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu span {
  position: absolute;
  background-color: #000;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  left: 2px;
  top: 16px;
  transition: all 0.2s ease;
  background: #fff;
  @media (max-width: 475px) {
    width: 30px;
    left: 10px;
  }
}
.menu::before,
.menu::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  right: 2px;
  background: #fff;
  transition: all 0.2s ease;
  @media (max-width: 475px) {
    width: 30px;
  }
}
.menu::before {
  top: 5px;
  @media (max-width: 475px) {
    top: 7px;
  }
}
.menu::after {
  bottom: 5px;
  @media (max-width: 475px) {
    bottom: 7px;
  }
}
