.nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #181818;
  border-bottom: 1px solid #2f2f2f;
  height: 60px;
  z-index: 90;
  transition: all 0.2s ease;
  @media (max-width: 992px) {
    height: 50px;
  }
}
.nav.active {
  height: 100vh;
  background: rgba(24, 24, 24, 0.97);
  overflow: hidden;
}
.nav-row {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 60px;
  @include adapt("gap", 40, 8, 1);
  @media (max-width: 992px) {
    height: 50px;
  }
}
.logo {
  align-self: baseline;
  opacity: 0.9;
}
.logo-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 80px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  transform: translate(-5px, 5px);
  @media (max-width: 992px) {
    transform: translate(-5px, 3px);
    width: 70px;
    height: 44px;
    border-radius: 8px;
  }
  @media (max-width: 325px) {
    transform: translate(0, 3px);
  }
}
.logo-link img {
  right: 0;
  object-fit: cover;
  position: absolute;
  width: 110%;
  height: 100%;
  transform: rotate(-4deg);
  margin-right: -6px;
  pointer-events: none;
  @media (max-width: 992px) {
    width: 105%;
    margin-right: -2px;
  }
}
.logo-text {
  font-size: 40px;
  font-weight: 900;
  background: #c94a4a;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.logo-subtext {
  font-size: 30px;
  background: rgb(116, 173, 198);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 60px;
}
.nav-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav.active .nav-content {
  @include adapt("font-size", 22, 18, 1);
  position: absolute;
  right: 40px;
  top: 100px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.nav-item {
  position: relative;
  transition: color 0.2s ease;
  @media (max-width: 992px) {
    padding: 20px 5px;
  }
}
.nav-link:hover {
  color: #74adc6;
}
.nav-link {
  padding: 20px 5px;
  transition: all 0.2s ease;
  @media (max-width: 992px) {
    padding: 10px 0;
  }
}
.nav-item:hover .nav-subcontent {
  opacity: 1;
  pointer-events: all;
}
.nav-text.active {
  color: #74adc6;
}
.nav-contact-link {
  @include adapt("font-size", 22, 13, 1);
}
.nav-contact-link span {
  color: rgb(116, 173, 198);
  transition: color 0.2s ease;
}
.nav-contact-link span:hover {
  color: #147eac;
}

// SUBCONTENT

.nav-subcontent {
  position: absolute;
  top: 41px;
  @include adapt("left", -25, -10, 1);
  width: max-content;
  display: flex;
  flex-direction: column;
  background: #181818;
  color: #74adc6;
  border-radius: 0 0 5px 5px;
  padding: 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  @media (max-width: 992px) {
    display: none;
  }
}
.nav-subcontent-item {
  padding: 17px 35px;
  transition: all 0.2s ease;
}
.nav-subcontent-item:hover {
  background: #212121;
}
.nav-subcontent-item.active {
  background: #212121;
}

// MENU

.menu-bg.active span {
  opacity: 0;
}
.menu-bg.active .menu::after {
  background: #fff;
  bottom: 16px;
  left: 4px;
  transform: rotate(45deg);
}
.menu-bg.active .menu::before {
  background: #fff;
  top: 16px;
  left: 4px;
  transform: rotate(-45deg);
}
.menu-bg {
  cursor: pointer;
  display: none;
  padding: 5px;
  transform: translate(5px, 0);
}
.menu {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu span {
  position: absolute;
  background-color: #000;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  left: 2px;
  top: 16px;
  transition: all 0.3s ease;
  background: #fff;
}
.menu::before,
.menu::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  left: -8px;
  background: #fff;
  transition: all 0.3s ease;
}
.menu::before {
  top: 5px;
}
.menu::after {
  bottom: 5px;
}
