@import "mixin";
@import "main/form";

body {
  font-family: "Gilroy";
  overflow-x: hidden;
  background: #d9dbde;
}
.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.auth-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(3px) brightness(0.3);
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
  @media (max-width: 325px) {
    padding: 0 10px;
  }
}
.form-wrapper {
}
.form {
}
.form-title {
}
.form-inputs {
}
.form-name-wrapper {
}
.form-password-wrapper {
  display: flex;
  flex-direction: column;
  @include adapt("gap", 7, 2, 1);
  @include adapt("padding", 5, 5, 1);
  @include adapt("font-size", 16, 14, 1);
  color: #000000e9;
}
.form-password-wrapper input {
  font-family: "Lato", sans-serif;
  @include adapt("font-size", 16, 14, 1);
  @include adapt("padding", 10, 7, 1);
  background: #f3f4f5;
  border: unset;
  outline: unset;
}
.form-password-wrapper label {
  cursor: unset;
  pointer-events: none;
  @include adapt("font-size", 14, 12, 1);
}
.form-password-wrapper input:focus {
  background: #e8f0fe;
}
._req {
}
.input {
}
.form-password-wrapper {
}
.password {
}
.form-button-wrapper {
}
.btn {
  background: #3390ec;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  transition: all 0.2s ease;
  color: #fff;
  border-radius: 5px;
}
.btn:hover {
  background: #2086ea;
}
