@import "mixin";
@import "about/absec";

.howStart-row {
  display: grid;
  @include adapt("gap", 40, 20, 1);
  grid-template-columns: 1fr 1fr;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.howStart-text {
  @include adapt("font-size", 45, 22, 1);
  @include adapt("padding-bottom", 20, 10, 1);
  font-weight: 900;
  color: #74adc6;
}
.howStart-subtext {
  @include adapt("font-size", 16, 14, 1);
}
