<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <%- include('../include/links', {fileCss: "blog"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: "blog", page: "Blog",
    navPageMore: true, navPageLink: "about", navPage: "About" }) %>

    <main id="about-more" class="main main-blog">
      <section class="section blog">
        <div class="container">
          <div class="blog-title title">Blog</div>
          <div class="blog-row-wrapper swiper-container">
            <div class="blog-row swiper-wrapper">
              <div class="blog-slide swiper-slide">
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog1.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">All About IFTA report</div>
                  <div class="blog-col-subtext">03 Now 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog2.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    How to get a SCAC code? Who is required to have a SCAC code?
                  </div>
                  <div class="blog-col-subtext">05 Oct 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog3.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    Does Your Company Need DOT or MC Number? What's the
                    Difference Between an MC Number and a DOT Number?
                  </div>
                  <div class="blog-col-subtext">24 Sep 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog4.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    Market Overview: Trucking rates per mile 2022
                  </div>
                  <div class="blog-col-subtext">14 Sep 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog5.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    What Is a Clean Driveng Record and How to Get One?
                  </div>
                  <div class="blog-col-subtext">31 Aug 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog6.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">All About IFTA report</div>
                  <div class="blog-col-subtext">3 Jan 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="blog-slide swiper-slide">
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog1.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">All About IFTA report</div>
                  <div class="blog-col-subtext">03 Now 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog2.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    How to get a SCAC code? Who is required to have a SCAC code?
                  </div>
                  <div class="blog-col-subtext">05 Oct 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog3.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    Does Your Company Need DOT or MC Number? What's the
                    Difference Between an MC Number and a DOT Number?
                  </div>
                  <div class="blog-col-subtext">24 Sep 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog4.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    Market Overview: Trucking rates per mile 2022
                  </div>
                  <div class="blog-col-subtext">14 Sep 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog5.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">
                    What Is a Clean Driveng Record and How to Get One?
                  </div>
                  <div class="blog-col-subtext">31 Aug 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
                <a href="#a" class="blog-col">
                  <div class="sp"></div>
                  <img
                    class="blog-col-img"
                    src="/img/main/blog/blog6.webp"
                    alt="img"
                  />
                  <div class="blog-col-text">All About IFTA report</div>
                  <div class="blog-col-subtext">3 Jan 2022</div>
                  <div class="blog-col-more-wrap">
                    <div class="blog-col-more">Read more</div>
                    <div class="blog-col-arrow">
                      <span class="icon-chevron-right"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-pagination blog-pagination"></div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/blog-slider.js"></script>
  </body>
</html>
