<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Careers</title>

    <%- include('../include/links', {fileCss: "careers"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'careers', page:
    "Careers", navPageMore: true, navPageLink: "about", navPage: "About"}) %>
    <main id="about-more" class="main main-careers">
      <section class="section careers">
        <div class="container">
          <div class="careers-title title">Careers</div>
          <div class="careers-subtitle subtitle">Driver</div>
          <div class="careers-subtext">
            <p>
              All types of truck driving jobs for owner-operators. Logity
              Dispatch looks for the most lucrative loads for you based on your
              operations and business goals.
            </p>
          </div>
          <div class="careers-text">
            <b> Truck Driving Jobs for Owner-Operators </b>
            <br />
            <br />
            <p>
              If you’re looking for truck driver jobs with the best paying loads
              in America, we have great news: We are hiring truck drivers like
              you. Whether you are looking for owner operator truck driver jobs
              or you’re a part-time line haul trucker wanting extra loads, you
              too can maximize your business by partnering up with Logity
              Dispatch.
            </p>
            <br />
            <b> What Types of Jobs for Truck Drivers?</b>
            <br />
            <br />
            <p>
              All types of truck driving jobs for owner-operators. Logity
              Dispatch looks for the most lucrative loads for you based on your
              operations and business goals. Because we have been working hard
              in the industry for five years, Logity Dispatch has access to
              different search platforms. This means that we can practically
              handpick the best loads out there.
            </p>
            <br />
            <p>
              But we don’t stop there. Our capable, experienced dispatchers
              negotiate hard to get the best rate for every load. This way, you
              make more money per load than you otherwise would. More money in
              your pocket means a better bottom line for your business and the
              freedom to make bigger business decisions.
            </p>
            <br />
            <b> You’re in Good Company with Our Driver Hiring </b>
            <br />
            <br />
            <p>
              Even if you have no experience with jobs for truck drivers or
              running a trucking business, you too can operate a successful
              trucking or transportation enterprise. Since our company is driver
              hiring, it’s an awesome time to partner up with qualified,
              seasoned dispatchers who know how to find the best loads at the
              best rates. It is an excellent opportunity indeed for beginners
              and veteran truckers to find well-paying truck driving jobs.
            </p>
            <br />
            <p>
              You might think that it’s expensive to work with such professional
              and proficient dispatchers. What might surprise you is the fact
              that in many cases, it is more cost-effective to have Logity
              Dispatch working with you than hiring your own full-time dispatch
              personnel. Not only would you need to rent space for them to work
              in, but you would also need to expend valuable time and resources
              in the recruitment process to find good dispatchers with good
              track records. By partnering up with Logity Dispatch, you are
              automatically connected to an extensive network, as well as
              professional and dedicated dispatchers. Take advantage of our
              industry expertise and comprehensive services.
            </p>
            <br />
            <b> Why Are You Hiring Truck Drivers?</b>
            <br />
            <br />
            <p>
              Very simple. It’s because what we set out to do is to help as many
              trucking business owners/operators make better money. So, even
              though we are “hiring” you, we are offering so much more than
              typical truck driving jobs for owner operators. What better way to
              extend our valuable aid than to reach out to you? This is just one
              of the ways Logity Dispatch sets itself apart from the pack.
            </p>
            <br />
            <p>
              What many truck drivers have told us is that they have come to be
              distrustful because of not-so-positive experiences they have had
              with dispatch companies they have found – either online through a
              “dispatch companies near me” type search or other jobs for truck
              driver postings. They felt forced to take every single load the
              dispatch company sent them, even if it wasn’t right for them.
              Sometimes, they felt “taken in” because when they first talked to
              the dispatch company, they were promised the sun and stars, only
              to realize after signing up that their inflated expectations
              weren’t realistic for this industry. Logity Dispatch doesn’t work
              that way. We believe that it is better to be honest and realistic
              than to promise something we won’t be able to deliver.
            </p>
            <br />
            <b> What You Get with Our Jobs</b>
            <br />
            <br />
            <p>
              When we offer truck driver jobs for owner-operators, it comes with
              the exceptional administrative and business support Logity
              Dispatch offers. What’s even better is that we also respect your
              autonomy as a business owner and tailor our services to your
              strengths and areas of improvement. Some of our truck drivers have
              developed their own way of doing things, such as negotiating their
              own loads. But where they really could use help is with managing
              all the paperwork and documentation that is required in this
              business. These folks want support in specific areas – and we are
              happy to give it to them.
            </p>
            <br />
            <p>
              On the other end of the spectrum, some owner-operators just want
              to do what they do best: drive. Being on the road, delivering
              loads across the country and on time – this is what they signed up
              for. All the administrative requirements – paperwork,
              negotiations, and compliance, for example – only bog them down and
              prevent them from moving loads quickly and efficiently. In those
              cases, Logity Dispatch provides comprehensive dispatch services so
              they can take on more loads and truly maximize their operations.
              Logity Dispatch is thrilled to work with all kinds of trucking and
              transport businesses, providing spot assistance, full assistance,
              and everything in between. We do everything we do so you don’t
              have to work harder because you will be working smarter…working
              BETTER.
            </p>
            <br />
            <p>
              This is truly company driver hiring with benefits. It’s a win-win
              situation.
            </p>
            <br />
            <b> Still Wondering About Our Jobs?</b>
            <br />
            <br />
            <p>
              Have questions? Wondering how we would handle the specifics of
              your business and its objectives? Want to know more about how we
              can help you work smarter and better so you can earn more money?
              Worried about whether partnering with us is the right move for
              your business? Not a problem. We would be delighted to talk to
              you. We want to get to know your business, what you hope to
              achieve, and where you could really benefit from our services.
            </p>
            <br />
            <p>
              We don’t just talk the talk – we walk the walk when it comes to
              giving people the straight goods. That’s why we want you to ask
              your questions and relay concerns you have had with other dispatch
              services in the past. You need to be able to put your trust in
              your dispatch company, and we are happy to earn that trust. We
              make sure we earn it with our truck drivers with every dispatch
              load, every day.
            </p>
            <br />
            <p>
              Talk to us today – you will soon understand why so many
              owner-operators rely on us to manage their documentation, find and
              negotiate loads, and much more.
            </p>
          </div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
