<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Program</title>

    <%- include('../include/links', {fileCss: "program"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'program', page:
    `Referral Program`, navPageMore: true, navPageLink: "about", navPage:
    "About"}) %>

    <main id="about-more" class="main main-prog">
      <section class="section prog">
        <div class="container">
          <div class="title prog-title">Refarral Program</div>
          <div class="prog-row-wrapper">
            <div class="prog-row">
              <div class="prog-col prog-col-left">
                <div class="prog-col-img">img</div>
                <div class="prog-col-number">1</div>
                <div class="prog-col-text">
                  Refer a friend by sharing their contact information.
                </div>
                <div class="prog-col-text">They sign up for our services.</div>
                <div class="prog-col-number">2</div>
                <div class="prog-col-img">img</div>
                <div class="prog-col-content">
                  <div class="prog-col-img">img</div>
                  <div class="prog-col-text">
                    They sign up for our services.
                  </div>
                </div>
                <div class="prog-col-number">3</div>
                <div class="prog-col-content">
                  <div class="prog-col-img">img</div>
                  <div class="prog-col-text">
                    They sign up for our services.
                  </div>
                </div>
                <div class="prog-col-content">
                  <div class="prog-col-img">img</div>
                  <div class="prog-col-text">
                    They sign up for our services.
                  </div>
                </div>
                <div class="prog-col-number">3</div>
                <div class="prog-col-content">
                  <div class="prog-col-img">img</div>
                  <div class="prog-col-text">
                    They sign up for our services.
                  </div>
                </div>
                <div class="prog-col-content">
                  <div class="prog-col-img">img</div>
                  <div class="prog-col-text">
                    They sign up for our services.
                  </div>
                </div>
                <div class="prog-col-number">3</div>
                <div class="prog-col-content">
                  <div class="prog-col-img">img</div>
                  <div class="prog-col-text">
                    They sign up for our services.
                  </div>
                </div>
              </div>
              <div class="form-wrapper prog-col-right">
                <form action="#a" class="form">
                  <div class="form-title">Fill the form to invite somebody</div>
                  <div class="form-inputs">
                    <div class="form-name-wrapper">
                      <label for="form-name">Referrer name</label>
                      <input type="text" id="form-name" />
                    </div>
                    <div class="form-email-wrapper">
                      <label for="form-email">Referrer email</label>
                      <input type="email" id="form-email" />
                    </div>
                    <div class="form-name-wrapper">
                      <label for="form-name">Invitee's name</label>
                      <input type="text" id="form-name" />
                    </div>
                    <div class="form-number-wrapper">
                      <label for="form-number">Invitee's phone</label>
                      <input type="tel" id="form-number" />
                    </div>
                    <div class="form-email-wrapper">
                      <label for="form-email">Invitee's email</label>
                      <input type="email" id="form-email" />
                    </div>
                  </div>
                  <div class="form-agree">
                    <input type="checkbox" id="form-check" />
                    <div class="form-check">
                      I have read and agree to <a href="#a">Terms of Service</a>
                    </div>
                  </div>
                  <div class="form-button-wrapper">
                    <button class="form-button btn">Send Request</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="prog-description">
        <div class="container">
          <div class="prog-description-title">
            Dispatching Now: Our New Referral Program
          </div>
          <br />
          <p>
            Logity Dispatch was created with one overarching goal: to let
            truckers make more money — and keep more money. We’ve been doing
            this by offering a wide array of business services and giving
            clients choices. If they only want one or two services, that’s all
            they need to get. If they want comprehensive trucking business
            support, we are happy to take care of it.
          </p>
          <br />
          <p>
            Now, we’re giving clients the opportunity to earn even more money
            with our referral program.
          </p>
          <br />
          <div class="prog-description-title">How It Works</div>
          <br />
          <p>
            Our clients tend to spread the word about our invaluable support,
            and they want friends and colleagues to benefit from us as well —
            but now, they can earn up to $400 for every new client they refer to
            us and who starts working with us. There’re a few simple steps:
          </p>
          <br />
          <p>Step 1. Refer a friend by sharing their contact information.</p>
          <br />
          <p>Step 2. They sign up for our services.</p>
          <br />
          <p>
            Step 3. After the new client uses our services for a month and pays
            at least $500 commission, you get the first $100 as appreciation for
            your referral.
          </p>
          <br />
          <p>
            Step 4. You receive another $100 after the new client uses our
            services for two months and pays a minimum of $500 commission for
            the second month.
          </p>
          <br />
          <p>
            Step 5. Take another $200 gift for your referral after a new client
            works with us for three months and pays at least $500 commission for
            the third month.
          </p>
          <br />
          <p>
            There is no limit to how many people you refer. For each and every
            new client who signs up with us because of your referral and does
            business with us for at least three months, that’s another $400 in
            your pocket.
          </p>
          <br />
          <p>
            Note that the months the new client works with us must be continuous
            to qualify to receive money under the referral program.
          </p>
          <br />
          <p>What’s in It for Them?</p>
          <br />
          <p>
            By referring them to Logity Dispatch, these new clients get the
            indispensable support we are proud to offer owners-operators.
          </p>
          <br />
          <div class="prog-description-subtitle">Dispatch</div>
          <br />
          <p>
            Logity Dispatch provides essential dispatch services across the US.
            Using our connections and networks, we are able to find the best
            loads and negotiate rates on your behalf, so you spend more time
            doing what you do best: transporting loads. Clients get 24/7 support
            and are never forced to take loads. We work for you, and we never
            forget that.
          </p>
          <br />
          <div class="prog-description-subtitle">
            Billing and Document Management
          </div>
          <br />
          <p>
            Logity Dispatch does all the tedious billing processes so you can
            concentrate on growing your business. Your job is to drive your
            truck and get your loads where they need to be, when they need to be
            there — not wasting time with invoicing and mundane administrative
            tasks, or chasing payments. We take that on because our job is to
            let you do your job.
          </p>
          <br />
          <div class="prog-description-subtitle">
            Safety, DOT Compliance, IFTA
          </div>
          <br />
          <p>
            Many owners-operators starting out (and even seasoned truckers) take
            a lot of the statutory requirements and paperwork for granted — but
            any trucking business needs to be on top of this stuff to continue
            operating. The problem is, your time can be better spent actually
            doing the work. That’s why Logity Dispatch is happy to take over
            compliance and related activities as part of our commitment to help
            make you more successful.
          </p>
          <br />
          <div class="prog-description-title">Support You Can Count On</div>
          <br />
          <p>
            Just as we trust our clients to know what they do best and how their
            time is best spent, our clients trust us to provide reliable
            trucking business support. Whether you just need a few
            <a href="#a">administrative areas</a> off your plate or prefer to
            have us do all the tasks that would take you away from making money,
            Logity Dispatch is by your side, at the ready.
            <a href="#a">Contact us</a> today to find out what
            <a href="#a">truck types we support</a>, learn more about our new
            referral program, or get the support you need for your business.
          </p>
        </div>
      </section>
      <section class="prog-form-bottom">
        <div class="container">
          <div class="prod-form-bottom-wrapper">
            <form action="#a" class="form">
              <div class="form-title">Fill the form to invite somebody</div>
              <div class="form-inputs">
                <div class="form-name-wrapper">
                  <label for="form-name">Referrer name</label>
                  <input type="text" id="form-name" />
                </div>
                <div class="form-email-wrapper">
                  <label for="form-email">Referrer email</label>
                  <input type="email" id="form-email" />
                </div>
                <div class="form-name-wrapper">
                  <label for="form-name">Invitee's name</label>
                  <input type="text" id="form-name" />
                </div>
                <div class="form-number-wrapper">
                  <label for="form-number">Invitee's phone</label>
                  <input type="tel" id="form-number" />
                </div>
                <div class="form-email-wrapper">
                  <label for="form-email">Invitee's email</label>
                  <input type="email" id="form-email" />
                </div>
              </div>
              <div class="form-agree">
                <input type="checkbox" id="form-check" />
                <div class="form-check">
                  I have read and agree to <a href="#a">Terms of Service</a>
                </div>
              </div>
              <div class="form-button-wrapper">
                <button class="form-button btn">Send Request</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
