<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stories</title>

    <%- include('../include/links', {fileCss: "stories"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'stories', page: `Success
    Stories`, navPageMore: true, navPageLink: "about", navPage: "About"}) %>

    <main id="about-more" class="main main-stories">
      <section class="section stories">
        <div class="container">
          <div class="stories-title title">Success Stories</div>
          <div class="stories-row">
            <a href="#a" class="stories-col">
              <div class="stories-col-img">
                <img src="/img/stories/img1.jpeg" alt="" />
              </div>
              <div class="stories-col-bottom">
                <div class="stories-col-content">
                  How to Raise Trucking Operations Revenue by 20% With a
                  Dispatch Service
                </div>
                <div class="stories-col-right">
                  <span
                    class="icon-plus stories-col-icon stories-col-icon-plus"
                  ></span>
                  <span
                    class="icon-chevron-thin-right stories-col-icon stories-col-icon-arrow"
                  ></span>
                </div>
              </div>
            </a>
            <a href="#a" class="stories-col">
              <div class="stories-col-img">
                <img src="/img/stories/img2.jpg" alt="" />
              </div>
              <div class="stories-col-bottom">
                <div class="stories-col-content">
                  How to Start a Trucking Business From Scratch With a Dispatch
                  Service
                </div>
                <div class="stories-col-right">
                  <span
                    class="icon-plus stories-col-icon stories-col-icon-plus"
                  ></span>
                  <span
                    class="icon-chevron-thin-right stories-col-icon stories-col-icon-arrow"
                  ></span>
                </div>
              </div>
            </a>
            <a href="#a" class="stories-col">
              <div class="stories-col-img">
                <img src="/img/stories/img3.jpg" alt="" />
              </div>
              <div class="stories-col-bottom">
                <div class="stories-col-content">
                  How to raise revenue by over $3 million in 3 years with a
                  dispatcher
                </div>
                <div class="stories-col-right">
                  <span
                    class="icon-plus stories-col-icon stories-col-icon-plus"
                  ></span>
                  <span
                    class="icon-chevron-thin-right stories-col-icon stories-col-icon-arrow"
                  ></span>
                </div>
              </div>
            </a>
            <a href="#a" class="stories-col">
              <div class="stories-col-img">
                <img src="/img/stories/img4.jpg" alt="" />
              </div>
              <div class="stories-col-bottom">
                <div class="stories-col-content">Reefer weekly report</div>
                <div class="stories-col-right">
                  <span
                    class="icon-plus stories-col-icon stories-col-icon-plus"
                  ></span>
                  <span
                    class="icon-chevron-thin-right stories-col-icon stories-col-icon-arrow"
                  ></span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
