<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>

    <%- include('../include/links', {fileCss: "testimonials"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: 'testimonials', page:
    "Testimonials", navPageMore: true, navPageLink: "about", navPage: "About"})
    %>

    <main id="about-more" class="main main-testimonials">
      <section class="testimonials section">
        <div class="container">
          <div class="title testimonials-title">Testimonials</div>
          <div class="testimonials-row">
            <div class="testimonials-col">
              <div class="testimonials-img">
                <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
              </div>
              <div class="testimonials-col-content">
                <div class="testimonials-col-name">Mice Sountris</div>
                <div class="testimonials-col-place">
                  M&L Transport LLC, MC # 25167
                </div>
                <div class="testimonials-col-desc">
                  Logity Dispatch is Awesome - This company is everything a
                  truck driver should expect from a dispatch company. They
                  negotiate with the brokers to get great rates, they call you
                  to offer loads for the next day and they handle getting
                  revised rate confirmation for detention pay & lay overs. I'm
                  glad to have them working for our company!
                </div>
              </div>
            </div>
            <div class="testimonials-col">
              <div class="testimonials-img">
                <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
              </div>
              <div class="testimonials-col-content">
                <div class="testimonials-col-name">Jay Sanders</div>
                <div class="testimonials-col-place">
                  Drive Logistics, MC # 1106770
                </div>
                <div class="testimonials-col-desc">
                  Place my trucking business in Logity Dispatch's hands and
                  haven't needed another dispatcher since. Outstanding
                  Communication, very knowledgeable of the business, and they
                  don't break the bank on percentage. Worth way more than other
                  companies charging 10+ percent. Thank you, guys.
                </div>
              </div>
            </div>
            <div class="testimonials-col">
              <div class="testimonials-img">
                <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
              </div>
              <div class="testimonials-col-content">
                <div class="testimonials-col-name">Eric Freeman</div>
                <div class="testimonials-col-place">MC # 104970</div>
                <div class="testimonials-col-desc">
                  Logity has been very good for my trucking company, very strong
                  negotiators.
                </div>
              </div>
            </div>
            <div class="testimonials-col">
              <div class="testimonials-img">
                <img src="/img/main/reviews/testimonials-1.webp" alt="img" />
              </div>
              <div class="testimonials-col-content">
                <div class="testimonials-col-name">Andrei Chirkov</div>
                <div class="testimonials-col-place">
                  Trucking Alliance LLC, MC # 125359
                </div>
                <div class="testimonials-col-desc">
                  We have been working with Logity Dispatch for a year now and I
                  have nothing but good things to say. The service these guys
                  provide is awesome and I don't need to waste my time searching
                  for loads, billing and all that stuff. Communication, support,
                  market knowledge are on high level and these guys worth the
                  percentage they charge.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>

    <script src="/js/script.js"></script>
  </body>
</html>
