<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videos</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <%- include('../include/links', {fileCss: "video"}) %>
  </head>
  <body>
    <%- include('../include/header', {backgroundImage: "video", page: "Videos",
    navPageMore: true, navPageLink: "about", navPage: "About" }) %>

    <main id="about-more" class="main main-video">
      <section class="section video">
        <div class="container">
          <div class="video-title title">Videos</div>
        </div>
      </section>
    </main>

    <%- include("../include/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/blog-slider.js"></script>
  </body>
</html>
