<section class="choose">
  <div class="container">
    <div class="choose-subtitle">Choose The Service You Need</div>
    <div class="choose-row">
      <% if (services) { services.forEach((service) => { %>
      <a href="/services/<%= service.url %>" class="choose-col"
        ><%- service.name %></a
      >
      <% })} %>
    </div>
  </div>
</section>
