<section class="choose">
  <div class="container">
    <div class="choose-subtitle">Choose Your Truck Type</div>
    <div class="choose-row">
      <a href="/dry-van" class="choose-col">Dry Van</a>
      <a href="/step-deck" class="choose-col">Step Deck</a>
      <a href="/reefer" class="choose-col">Reefer</a>
      <a href="/flatbed" class="choose-col">Flatbed</a>
      <a href="/power-only" class="choose-col">Power Only</a>
      <a href="/hotshot" class="choose-col">Hotshot</a>
      <a href="/box-truck" class="choose-col">Box Truck</a>
      <a href="/straight-truck" class="choose-col">Straight Truck</a>
    </div>
  </div>
</section>
